/*--- Connect Wallet CSS ---*/
.connect_wallet_section{
    background: $bgColor;
    padding-top: 96px;
    padding-bottom: 140px;
    backdrop-filter: blur(10px);
}

.connect_wallet_card{
    max-width: 690px;
    width: 100%;
    margin: auto;
    background: rgba($color: $bgColor2, $alpha: 0.8);
    padding: 63px 60px 50px 60px;
}

.connect_wallet_card_headings{
    text-align: center;
    max-width: 356px;
    margin: auto;
    h2 {
        font-family: $russoOneFont;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 23px;
        color: $white;
    }
    p {
        font-family: $interFont;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: rgba($color: $white, $alpha: 0.7);
        margin-bottom: 29px;
    }
}

.choose_network_sect {
    h2 {
        font-family: $russoOneFont;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 45px;
        text-transform: uppercase;
        color: rgba($color: $white, $alpha: 0.7);
        margin-bottom: 0px;
    }
}

.choose_network_sect ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 0px;
    li {
        height: 60px;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    li button{
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        background: transparent;
        width: 100%;
        height: 100%;
        padding: 15px 20px;
        border: 2px solid rgba(255, 255, 255, 0.15);
        box-sizing: border-box;
        font-family: $russoOneFont;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 45px;
        text-transform: uppercase;
        color: rgba($color: $white, $alpha: 0.7);
        span{
            margin-right: 11px;
        }
    }
    li.active button{
        border: 2px solid rgba(163, 255, 18, 0.5);
        color: $white;
    }
}

.connect_wallet_content{
    margin-top: 29px;
    h2 {
        font-family: $russoOneFont;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 45px;
        margin-bottom: 0px;
        text-transform: uppercase;
        color: rgba($color: $white, $alpha: 0.7);
    }
    p {
        font-family: $interFont;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: rgba($color: $white, $alpha: 0.7);
        max-width: 470px;
        width: 100%;
    }
}

.connect_wallet_btn {
    background: rgba(255, 255, 255, 0.05);
    height: 60px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 16px 30px;
    font-family: $russoOneFont;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $white;
    position: relative;
    span{
        margin-right: 24px;
    }
    &::before{
        content: "\e902";
        top: 22px;
        right: 30px;
        font-size: 10px;
        color: rgba($color: $white, $alpha: 0.7);
        font-family: "icomoon";
        position: absolute;
    }
}