html,
body {
    font-size: 16px;
    color: rgba($color: $white, $alpha: 0.7);
    font-family: $interFont;
    vertical-align: baseline;
    line-height: 1.6;
    font-weight: 500;
    overflow-x: hidden;
    background-color: #151625;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0 0 26px;
    line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $russoOneFont;
    color: $white;
    margin: 0 0 26px;
    line-height: 1.35;
    font-weight: 400;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
}

h2 {
    font-size: 36px;
    text-transform: uppercase;
}

h3 {
    font-size: 30px;
    text-transform: uppercase;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

.sec-heading .sub-title {
    color: $themeColor;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: $russoOneFont;
}

.sec-heading .heading-left-image {
    margin-left: 10px;
}

.sec-heading .heading-right-image {
    margin-right: 10px;
}

.uppercase {
    text-transform: uppercase !important;
}

a {
    color: $white;
    transition: all 0.3s ease;
    text-decoration: none !important;
    outline: none !important;
}

a:active,
a:hover {
    text-decoration: none;
    outline: 0 none;
    color: $themeColor;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
    text-decoration: none !important;
    box-shadow: none !important;
}

body i {
    font-size: 8px;
    color: #B5B5BA;
}

button {
    border: none;
}

.clear {
    clear: both;
}

body .dblock {
    display: block;
}

::-moz-selection {
    background: #2D65F8;
    text-shadow: none;
    color: $white;
}

::selection {
    background: #2D65F8;
    text-shadow: none;
    color: $white;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    margin: 0;
}

body .search-modal .modal-content {
    background: transparent;
    position: initial;
    border: 0;
}

body .search-modal .search-block input {
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    background: transparent;
    border-width: 0 0 1px 0;
    border-radius: 0;
    border-color: rgba($color: $white, $alpha: 0.4);
    box-shadow: none;
    color: $white;
    font-weight: 600;
    font-size: 18px;
}

body .search-modal .close {
    color: $white;
    margin-top: 20px;
    font-size: 14px;
    background-color: transparent;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    opacity: 1;
    outline: none;
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 20px;
    z-index: -1;
}

body .search-modal .close:hover {
    color: $themeColor !important;
    opacity: 1 !important;
}

body .modal-backdrop {
    opacity: 1 !important;
}

.white-color {
    color: $white !important;
}

.border-none {
    border: none !important;
}