/*--- Gamfi Leaderboard Section CSS ---*/
.leaderboard-table-list {
    background: $bgColor;
}

.leaderboard-table-list table {
    width: 100%;
    border-collapse:separate;
    border-spacing:0 10px;
}

.leaderboard-table-list{
    tr th{
        font-family: $russoOneFont;
        color: rgba($color: $white, $alpha: 0.7);
        font-weight: 400;
        text-transform: uppercase;
        padding-top: 8px;
        padding-bottom: 5px;
    }
    tr td{
        background: $bgColor5;
        color: $white;
    }
    tr th,
    tr td{
        width: 20%;
        padding: 15px 25px;
        &:last-child{
            text-align: right;
        }
        &:nth-child(1){width: 15%;}
        &:nth-child(3){width: 30%;}
        &:nth-child(4){width: 15%;}
    }
}

.gamfi-breadcrumbs-section .breadcrumbs-form.mr-0 form {
    margin-right: 0;
}