/*--- Gamfi Igo-Rankging Section CSS ---*/
.igo-rankging-table-list {
    background: $bgColor;
}

.igo-rankging-table-list table {
    width: 100%;
    border-collapse:separate;
    border-spacing:0 10px;
}

.igo-rankging-table-list{
    tr th,
    tr td{
        width: 14.28%;
        padding: 20px 25px;
        &:nth-child(1){width: 10.28%;}
        &:nth-child(2){width: 24%;}
        &:nth-child(3){width: 12.28%;}
        &:last-child{width: 10.28%;}
        img{
            max-width: 35px;
        }
    }
    tr th:last-child,
    tr td:last-child{
        text-align: right;
    }
} 

.igo-rankging-table-list tr {
    .image-row {
        padding-top: 15.5px;
        padding-bottom: 15.5px;
    }
    .image-row img {
        margin-right: 15px;
    }
    th {
        font-family: $russoOneFont;
        color: rgba($color: $white, $alpha: 0.7);
        font-weight: 400;
        text-transform: uppercase;
        padding-top: 8px;
        padding-bottom: 5px;
    }
    td {
        background: $bgColor5;
        color: $white;
    }
}

@-moz-document url-prefix() {
    .igo-rankging-table-list tr th:nth-child(2),
    .igo-rankging-table-list tr td:nth-child(2) {
        width: 23%;
    }

    .igo-rankging-table-list tr th:nth-child(3),
    .igo-rankging-table-list tr td:nth-child(3) {
        width: 12%;
    }

    .igo-rankging-table-list tr th,
    .igo-rankging-table-list tr td {
        width: 14%;
    }
}