/*--- Gamfi Calendar Section CSS ---*/
/*--- calendar style ---*/
.calendar header{
    background: #222231;
    margin-bottom: 42px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    .month{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .month,
    .month .year{
        font-family: $russoOneFont;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    @include breakpoint(991px){
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    @include breakpoint(480px){
        .month{
            gap: 10px;
        }
    }
}

.calendar header .header-left{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    @include breakpoint(991px){
        width: 100%;
        justify-content: space-between;
        padding: 20px;
        gap: 20px;
    }
    @include breakpoint(480px){
        gap: 10px;
    }
}

.calendar header .header-right{
    @include breakpoint(991px){
        width: 100%;
    }
}

.calendar header .simple-calendar-btn{
    position: relative;
    top: 0;
    width: 59px;
    height: 59px;
    border-radius: 0%;
    background-color: transparent;
    border: 1px solid #2E2F3C;
    color: #FFFFFF;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    &::before,
    &::after{
        display: none;
    }
    i{
        font-size: 16px;
        color: #B5B5BA; 
    }
    &:hover{
        background-color: #2E2F3C;
    }
    &.btn-prev{
        transform: rotate(0);
    }
    @include breakpoint(991px){
        width: 40px;
        height: 40px;
    }
    @include breakpoint(480px){
        width: 30px;
        height: 30px;
    }
}

.calendar td{
    img{
        cursor: pointer;
        width: auto;
        height: 34px;
    }
}

.list-menu{
    display: flex;
    align-items: center;
    > li{
        border-left: 1px solid rgba(255, 255, 255, 0.08);
        position: relative;
        padding-right: 50px;
    }
    li a{
        display: block;
        padding: 20px 28px;
        font-family: $interFont;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.7);
        position: relative;
        &.toggler::before{
            content: "\e901";
            position: absolute;
            top: 50%;
            right: -28px;
            transform: translateY(-50%);
            color: rgba(255, 255, 255, 0.7);
            font-family: "icomoon";
            font-size: 8px;
            transition: 0.4s;
        }
    }
    li:hover .sub-menu{
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
    .sub-menu{
        position: absolute;
        z-index: 10;
        transition: 0.3s;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-5%);
        top: 100%;
        left: 0;
        width: 100%;
        background: #222231;
        li{
            border-top: 1px solid rgba(255, 255, 255, 0.08);
        }
        li a{
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 20px;
            img{
                max-width: 20px;
            }
        }
    }
    @include breakpoint(991px){
        flex-direction: column;
        width: 100%;
        > li{
            border-left: 0;
            padding-right: 50px;
            display: block;
            width: 100%;
            border-top: 1px solid rgba(255, 255, 255, 0.08); 
        }
        li a{
            width: 100%;
            text-align: left;
            &.toggler::before{
                right: 0;
            }
        }
    }
}

.eventShowImg{
    margin: 70px 0 0 0;
}

.eventCard img{
    margin-bottom: 0 !important;
}

#eventModal{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
    &::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
    .modal-dialog{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .modal-content{
        padding: 0 !important;
        background-color: transparent !important;
    }
}

.eventCard{
    background-color: transparent !important;
}

.event-item{
    background-image: radial-gradient(circle, rgba(86, 75, 135, 0.85) 0%, #1e1f35 100%);
    padding: 30px 35px;
    position: relative;
    .btn-close{
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 20px;
        color: $white;
    }
    .border-shadow{
        content: "";
        display: block;
        position: absolute;
        z-index: 9;
        &.shadow-1{
            top: 0px;
            left: 0;
            background: linear-gradient(to bottom, #f82552 -100%, rgba(21, 22, 37, 0) 64%);
            width: 5px;
            height: 200px;
        }
        &.shadow-2{
            top: 0px;
            left: 5px;
            background: linear-gradient(to right, #f82552 -100%, rgba(21, 22, 37, 0) 64%);
            width: 200px;
            height: 5px;
        }
        &.shadow-3{
            bottom: 0px;
            right: 0;
            width: 5px;
            height: 200px;
            background: linear-gradient(to top, #a3ff12 -100%, rgba(21, 22, 37, 0) 64%);
        }
        &.shadow-4{
            bottom: 0px;
            right: 5px;
            width: 200px;
            height: 5px;
            background: linear-gradient(to left, #a3ff12 -100%, rgba(21, 22, 37, 0) 64%);
        }
    }
}

.event-top{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    .event-img{
        flex: 0 0 70px;
        img{
            width: 70px;
            height: 70px;
        }
    }
    h2{
        margin-bottom: 13px;
        font-family: $russoOneFont;
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        color: #FFFFFF;
    }
    p{
        margin-bottom: 0;
        font-family: $interFont;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.7);
    }
}

.event-time{
    margin-left: -35px;
    h2{
        padding: 8px 56px 8px 35px;
        font-family: $russoOneFont;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #FFFFFF;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("../images/bg/shape-bg.png");
            background-repeat: no-repeat;
        }
    }
}

.info-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    li{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    li{
        font-family: $interFont;
        font-weight: 500;
        font-size: 16px;
        line-height: 45px;
        color: rgba(255, 255, 255, 0.7);
    }
}

.info-list .social-link{
    display: flex;
    align-items: center;
    gap: 15px;
    li a{
        i{
            font-size: 18px;
        }
    }
}