/*--- Gamfi Project Details Section CSS ---*/
.project-details-conent {
    background: $bgColor;
    .game-price-item {
        margin-top: -90px;
    }
    .banner-bottom-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.project-details-conent .banner-bottom-content .social-icon-list {
    display: inline-block;
    margin-left: 12px;
    li{
        display: inline-block;
        &:first-child{
            margin-left: 0;
        }
        i{
            padding-left: 10px;
            font-size: 20px;
            transition: 0.4s;
            color: $white;
            &:hover{
                color: #B9B9C0;
            }
        }
    }
    li a{
        display: block;
        color: $white;
        font-size: 20px;
        &:hover{
            color: $themeColor;
        }
    }
}

.project-details-conent .project-item .date-listing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li button{
        cursor: pointer;
        border: 2px solid;
        transition: 0.4s;
        color: $white;
        padding: 12px 20px;
        border-color: $borderColor4;
        font-family: $russoOneFont;
        text-transform: uppercase;
        border: 1px solid $borderColor4;
        outline: none;
        background: transparent;
    }
    li{
        display: inline-block;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        background: transparent;
        &:hover,
        &.active{
            button{
                background: $borderColor4;
                color: $themeColor;
            }
        }
    }
    li a {
        background: transparent;
        border-color: $borderColor5;
        &:hover{
            background: $borderColor5;
            border-color: $borderColor5;
            color: $themeColor;
        }
    }
    li input {
        position: absolute;
        top: -20px;
    }
    li label {
        cursor: pointer;
        border: 2px solid;
        transition: 0.4s;
        color: $white;
        padding: 12px 20px;
        border-color: $borderColor4;
        font-family: $russoOneFont;
        text-transform: uppercase;
    }
    li.active,
    li input:checked + label {
        background: $borderColor4;
        color: $themeColor;
    }
    li + li {
        margin-left: 5px;
    }    
}

.project-details-conent .banner-bottom-content .btn-area .readon {
    background: $themeColorBlue;
    border: none;
    transition: 0.4s;
    padding: 17px 45px;
}

.project-details-conent .readon {
    background: $themeColorBlue;
    border-color: $themeColorBlue;
    border: 2px solid $borderColor;
    transition: 0.4s;
    color: $white;
    padding: 12px 20px;
    &:hover{
        border-color: transparent;
    }
}

.project-details-conent .project-item {
    background: rgba($color: $bgColor2, $alpha: 0.8);
    margin-bottom: 30px;
    padding: 45px 50px;
    .project-info {
        margin-bottom: 12px;
        img {
            margin-left: 5px;
        }
    }
}

.project-details-conent .project-item .heading-title {
    margin-bottom: 40px;
    h4 {
        font-size: 16px;
        margin-bottom: 0;
        position: relative;
        &::before{
            width: 197px;
            height: 35px;
            content: "";
            background-image: url("../images/bg/shape-bg.png");
            position: absolute;
            left: -30px;
            top: -7px;
        }
    }
}

.project-details-conent .project-item .border-bottom-2 {
    border-bottom: 1px solid $borderColor;
    padding-bottom: 20px;
    margin-bottom: 25px;
}


.project-details-conent .project-item .big-text {
    font-size: 30px;
    color: $themeColor;
    font-family: $russoOneFont;
    position: absolute;
    right: 0;
    top: -10px;
}

.project-details-conent .project-item .project-form-list .balance-form-area {
    position: relative;
}

.project-details-conent .project-item .project-form-list .balance-form-area .white-shape-small {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
}

.project-details-conent .project-item .project-form-list .balance-form-area input {
    border: 1px solid $borderColor5;
    background: transparent;
    padding: 16px 20px;
    position: relative;
    color: rgba($color: $white, $alpha: 0.7);
}

.project-details-conent .project-item .project-form-list .balance-form-area input[type="text"] {
    position: relative;
    z-index: 3;
}

.project-details-conent .project-item .project-form-list .balance-form-area .max {
    position: absolute;
    color: $white;
    margin-top: 17px;
    margin-left: -60px;
}

.project-details-conent .project-item .project-form-list .balance-form-area input[type="submit"] {
    width: 100%;
    color: $white;
    background: $borderColor5;
    transition: 0.4S;
    text-transform: uppercase;
    font-family: $russoOneFont;
    padding-left: 30px;
    padding-right: 30px;
    width: 170px;
}

.project-details-conent .project-item .project-form-list .balance-form-area .approve input[type="submit"] {
    background: $themeColorBlue;
}

.project-details-conent .project-item .hover-shape-inner {
    background: url("../images/bg/project-details-banner.jpg");
}

.project-details-conent .project-value-inner {
    padding: 40px 50px 50px;
}

.project-details-conent .project-media{
    span {
        color: $white;
    }
    img {
        margin-right: 10px;
    }    
    li {
        display: block;
        overflow: hidden;
        padding-bottom: 15px;
        position: relative;
        &:last-child{
            padding-bottom: 0;
        }
    }
    li strong {
        font-weight: 400;
        color: $white;
    }
    li span {
        float: right;
    }    
    .social-icon-list {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: right;
        margin-top: -22px;
        li {
            padding-bottom: 0;
        }
        li a {
            color: $white;
            &:hover{
                color: $themeColor;
            }
        }
    }
} 

.project-video-area {
    position: relative;
    margin-bottom: 55px;
    .video-icons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    i {
        background: $white;
        color: $bgColor4;
        font-size: 30px;
        height: 70px;
        width: 70px;
        line-height: 70px;
        border-radius: 70px;
        display: inline-block;
        text-align: center;
    }
}

.project-details-conent table {
    width: 100%;
    td{
        position: relative;
        padding: 17px 30px;
        border-bottom: 1px solid $borderColor2;
        &:nth-child(2){
            left: 16px;
        }
    }
}

.project-details-conent table .table-header {
    background: $bgColor2;
    text-transform: uppercase;
    font-family: $russoOneFont;
    th {
        background: $bgColor2;
        font-weight: 400;
        padding: 17px 30px;
        &:nth-child(2){padding-left: 45px;}
    }
}

.project-details-conent .project-service {
    background: $bgColor2;
    padding: 50px 100px 25px;
    margin-bottom: 45px;
    display: flex;
    .project-image {
        margin-right: 70px;
    }
    .project-content {
        display: flex;
    }
    .project-price span {
        display: block;
        margin-bottom: 5px;
    }
    .project-price .project-sale {
        position: relative;
        padding-left: 10px;
        &::before{
            position: absolute;
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 10px;
            background: $white;
            left: -10px;
            top: 7px;
        }
    }
}

.project-details-conent .project-content .project-price{
    .darkslateblue{
        &::before{
            background: $themeColorBlue;
        }
    }
    .cyan{
        &::before{
            background: #3bcbff;
        }
    }
    .dodgerBlue{
        &::before{
            background: #0b58fe;
        }
    }
    .turquoise{
        &::before{
            background: #01cc9b;
            background: #3bcbff;
        }
    }
    .springGreen{
        &::before{
            background: $themeColor;
        }
    }
    .darkturquoise{
        &::before{
            background: #14a0c0;
        }
    }
}

.project-summary-menu {
    padding: 48px 50px 15px;
    &.project_summary_menu_BgGridient{
        background: linear-gradient(180deg, $bgColor2 0%, rgba($color: $bgColor2, $alpha: 0) 100%);
        height: 640px;
    }
    &.bg_gradient_custom{
        background: linear-gradient(180deg, $bgColor2 0%, rgba($color: $bgColor2, $alpha: 0) 100%);
        height: 566px;
    }
}

.project-summary-menu .nav {
    display: block;
    button {
        display: block;
        background: transparent;
        padding: 0;
        color: rgba($color: $white, $alpha: 0.7);
        font-family: $russoOneFont;
        margin-bottom: 25px;
        img {
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
            margin-left: 5px;
        }
        &.active{
            color: $themeColor;
            img {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.project-meta-inner .meta-header {
    background: $bgColor5;
    padding: 45px 50px 15px;
    margin-bottom: 30px;
}

.project-btn-area .readon {
    display: block;
    text-align: center;
    padding: 17px;
}

.project-btn-area .active {
    margin-bottom: 20px;
    border: none;
    color: $white;
}

.project-btn-area .next {
    background: $bgColor2;
    border: none;
    color: $white;
}

.project-btn-area .next:hover {
    color: $white;
}

.project-btn-area .draw {
    color: $white;
    background: $borderColor4;
}

.project-meta-item {
    background: $bgColor5;
    padding: 43px 50px 50px;
}

.project-meta-item .meta-counter {
    padding: 0 50px 50px;
}

.project-meta-item .meta-counter:first-child {
    border-bottom: 1px solid $borderColor;
    margin-bottom: 40px;
    padding: 40px 50px 42px;
}

.project-details-conent .game-price-item .text-content {
    color: $white;
}

.project-details-conent .game-price-item .targeted-raise .targeted-raise {
    position: relative;
}

.project-menu-area {
    background: #222231;
    margin-bottom: 42px;
}

.project-menu-area ul{
    li {
        border-right: 1px solid rgba(255, 255, 255, 0.08);
    }
    li a,
    li .tab-link{
        color: $white;
        padding: 18px 28px;
    }
} 

.project-menu-area .project-left-menu .tab-link {
    background: transparent;
    font-family: $russoOneFont;
    position: relative;
    text-transform: uppercase;
    color: rgba($color: $white, $alpha: 0.7);
    &::before{
        position: absolute;
        content: "";
        left: 0;
        width: 0;
        height: 2px;
        background: $themeColorBlue;
        bottom: 0;
        transition: 0.3s;
    }
    &.active{
        color: $white;
        &::before{
            width: 100%;
        }
    }
    &.calendar-date-text {
        color: $white;
    }
}

.project-menu-area .project-right-menu ul {
    li {
        display: inline-block;
        &:first-child{
            border-left: 1px solid rgba(255, 255, 255, 0.08);
        }
        &:last-child{
            border-right: 0 solid rgba(255, 255, 255, 0.08);
        }
    }
    li a{
        display: block;
        color: rgba($color: $white, $alpha: 0.7);
    }
}

.project-menu-area .al-access-menu{
    > li {
        padding-right: 50px;
        &::before,
        &::after{
            content: "\e901";
            position: absolute;
            top: 26px;
            right: 28px;
            color: rgba($color: $white, $alpha: 0.7);
            font-family: "icomoon";
            font-size: 8px;
            transition: 0.4s;
        }
        &::after{
            content: "\e903";
            opacity: 0;
            visibility: hidden;
        }
        &:hover{
            &::before{
                opacity: 0;
                visibility: hidden;
            }
            &::after{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    li {
        position: relative;
        img{
            max-width: 20px;
            margin-right: 5px;
        }
    }
    li a{
        &:hover{
            color: $white;
        }
    }
    li:hover ul{
        opacity: 1;
        visibility: visible;
        transform: scaleY(1);
    }
    li.block ul {
        width: 102%;
        left: -4px;
    }
    li ul{
        position: absolute;
        left: 0;
        top: 100%;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        transform: scaleY(0);
        transform-origin: 0 0 0;
        transition: all 0.3s ease-in-out;
        z-index: 3;
        width: 100%;
        li{
            display: block;
            background: #222231;
            border: none !important;
            border-bottom: 1px solid rgba(255, 255, 255, 0.08) !important;
            &:last-child{
                border-bottom: 0px;
            }
        }
    }
    &.right-postion li ul {
        left: auto;
        right: 0;
    }
} 

/*--- Gamfi Explore Content Section CSS ---*/
.gamfi-explore-content {
    background: $bgColor;
    .project-menu-area {
        margin-bottom: 45px;
    }
}

.gamfi-explore-content .project-item {
    background: rgba($color: $bgColor2, $alpha: 0.8);
    padding: 30px 30px 10px;
    .project-info {
        margin-bottom: 28px;
        img {
            margin-right: 20px;
        }
    }
}

.gamfi-explore-content .project-item .heading-title {
    margin-bottom: 40px;
    h4 {
        font-size: 16px;
        margin-bottom: 0;
        position: relative;
        &::before{
            width: 197px;
            height: 35px;
            content: "";
            background-image: url("../images/bg/shape-bg.png");
            position: absolute;
            left: -30px;
            top: -7px;
        }
    }
}

.gamfi-explore-content .project-info{
    img {
        margin-bottom: 25px;
    }
}

.gamfi-explore-content .project-media {
    margin-bottom: 20px;
}

.gamfi-explore-content .project-media ul{
    li {
        display: block;
        overflow: hidden;
        padding-bottom: 15px;
        &:last-child{
            padding-bottom: 0;
        }
    }
    li span{
        float: right;
        color: $white;
    }
}

.gamfi-explore-content .icon-listing {
    background: #25263a;
    padding: 15px 30px;
    margin-bottom: 30px;
}

.gamfi-explore-content .icon-listing .social-icon-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
    }
    li i {
        color: $white;
        padding-right: 19px;
        font-size: 15px;
        transition: 0.4s;
        &:hover{
            color: #B9B9C0;
        }
    }
}

body .gamfi-explore-content .project-item {
    margin-bottom: 0;
}


/*--- ProjectClasic2 ---*/
.project_clasic_2_container{
    background: rgba(255, 255, 255, 0.05);
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.project_clasic_2_container_left{
    position: relative;
    min-height: 400px;
}
.project_clasic_2_container_left_img{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    img{
        height: 100%;
        width: 100%;
    }
}

.project_clasic_2_left_content_img{
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
}

.project_clasic_2_timer {
    width: 241.8px;
    height: 35px;
    background-image: url("../images/bg/shape-bg.png");
    background-size: cover;
    background-position: center center;
    //direction: flex;
    align-items: center;
    justify-content: flex-start;
    background-repeat: no-repeat;
    position: absolute;
    top: 27px;
    left: 0px;
    z-index: 1;
}

.project_clasic_2_timer .price-counter .timer{
    margin-bottom: 0px;
}

.project_clasic_2_timer .price-counter .timer ul{
    max-width: 168px;
    width: 100%;
    margin-left: 19px;
    margin-top: 8px;
    li {
        font-family: $russoOneFont;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $white;
        padding: 0px;
        margin: 0px;
    }
}


.project_clasic_2_container_right_headings {
    position: relative;
    span{
        position: absolute;
        top: 30px;
        right: 0px;
    }
    h2 {
        margin-bottom: 21px;
    }
    h2 a{
        font-family: $russoOneFont;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: $white;
        text-transform: capitalize;
        margin-top: 15px;
    }
    p {
        font-family: $interFont;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: rgba($color: $white, $alpha: 0.7);
        margin-bottom: 33px;
    }
}

.total_rised_progress_headings{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
        font-family: $russoOneFont;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        text-transform: uppercase;
        margin-bottom: 0px;
        color: rgba($color: $white, $alpha: 0.7);
        span{
            color: $white;
        }
    }
    p {
        font-family: $russoOneFont;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 0px;
        text-align: right;
        text-transform: uppercase;
        color: $white;
    }
}

.total_rised_progress_bg{
    height: 15px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 18px;
    .progress-line{
        height: 15px !important;
    }
}
.total_rised_progress_bar.progess32{
    background: $themeColor;
    height: 100%;
    width: 32%;
    animation-name: Progressing32;
    animation-duration: 3s;
}
@keyframes Progressing32 {
    0%{
        width: 0%;
    }
    100%{
        width: 32%;
    }
}
.total_rised_progress_bar.Progress65{
    background: $themeColor;
    height: 100%;
    width: 65%;
    animation-name: Progressing65;
    animation-duration: 3s;
}
@keyframes Progressing65 {
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}


.total_rised_progress_bar.Progress89{
    background: $themeColor;
    height: 100%;
    width: 89%;
    animation-name: Progressing89;
    animation-duration: 3s;
}
@keyframes Progressing89 {
    0%{
        width: 0%;
    }
    100%{
        width: 89%;
    }
}

.total_rised_progress_bar.progress32{
    background: $themeColor;
    height: 100%;
    width: 32%;
    animation-name: Progressing32;
    animation-duration: 3s;
}
@keyframes Progressing32 {
    0%{
        width: 0%;
    }
    100%{
        width: 32%;
    }
}

.total_rised_progress_sale_airdrop_sect{
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
        font-family: $interFont;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        color: rgba($color: $white, $alpha: 0.7);
        margin-bottom: 0px;
        position: relative;
        &:after{
            content: '';
            height: 15px;
            width: 2px;
            background: rgba($color: $white, $alpha: 0.2);
            position: absolute;
            top: -11px;
            left: 0px;
        }
    }
}

.access_allocation_participants_sect{
    margin-top: 25px;
}

.access_allocation_participants_sect ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 481px;
    width: 100%;
    li{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }
    li span {
        font-family: $interFont;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        color: rgba($color: $white, $alpha: 0.7);
    }
    li p {
        font-family: $russoOneFont;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: $white;
        margin-bottom: 0px;
    }
}

.project_clasic_2_container_social_sect{
    margin-top: 48px;
}

.project_clasic_2_container_social_sect ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 243px;
    li a i{
        font-size: 20px;
        color: $white;
    }
}




.project_clasic_slider_sect .my_slides {
    display: none
}

.project_clasic_slider_sect .fade:not(.show) {
    opacity: 1
}

.project_clasic_slider_sect img {
    vertical-align: middle;
}
.project_clasic_slider_sect .slideshow-container {
    position: relative;
    margin: auto;
}

.project_clasic_slider_sect .project_clasic_prev, .project_clasic_next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.project_clasic_slider_sect .prev{
    left: -6%;
}

.project_clasic_slider_sect .next {
    border-radius: 3px 0 0 3px;
    right: -6%;
}

.project_clasic_slider_sect .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


.project_clasic_slider_sect .active, .dot:hover {
    background-color: #717171;
}

.project_clasic_slider_sect .fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}


.gamfi-explore-content .project-item .heading-title {
    h4 span{
        margin-right: 8px;
    }
}



/*--- project_details_road_map_content ---*/
.project_details_road_map_content{
    padding-top: 17px;
    h4 {
        font-family: $russoOneFont;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: $themeColor;
        margin-bottom: 10px;
        &.disable {
            color: rgba($color: $white, $alpha: 0.7);
        }
    }
}

.project_details_road_map_content ul{
    margin-bottom: 12px;
    li {
        font-family: $interFont;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 36px;
        color: rgba($color: $white, $alpha: 0.7);
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        span{
            margin-right: 14px;
        }
    }
}


/*--- ProjectDetails_TeamMembers_Sect ---*/
.project_details_team_members_sect{
    padding-top: 22px;
}
.project_details_team_members_card{
    min-height: 240px;
    width: 100%;
    background: rgba($color: $bgColor2, $alpha: 0.8);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    h5 {
        font-family: $russoOneFont;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: $white;
        margin-bottom: 14px;
        margin-top: 28px;
    }
    h6 {
        font-family: $interFont;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: rgba($color: $white, $alpha: 0.7);
        margin-bottom: 0px;
    }
}

.list_investors_list ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    li{
        width: 25%;
        margin: auto;
        margin-bottom: 58px;
    }
    li img{
        width: 78%;
    }
    li.first{
        text-align: left;
    }
    li.second{
        text-align: center;
    }
    li.third{
        text-align: center;
    }
    li.last{
        text-align: right;
    }
}

.project_summary_tabs_sect{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}


/*
.project_summarySectScrllab{
    max-height: 630px;
    overflow-y: scroll;
}
.project_summarySectScrllab::-webkit-scrollbar{
    display: none;
}
*/

.project_summary_tabs_sect .project-summary-tab-btn{
    background: transparent;
    outline: none;
    border: none;
}
.project_summary_tabs_sect .project-summary-tab-btn a{
    background: transparent;
    font-family: $russoOneFont;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: rgba($color: $white, $alpha: 0.7);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.project_summary_tabs_sect .project-summary-tab-btn.active a, .project_summary_tabs_sect .project-summary-tab-btn:hover a{
    color: $themeColor;
}
.project_summary_tabs_sect .project-summary-tab-btn img{
    display: none;
    margin-left: 10px;
}
.project_summary_tabs_sect .project-summary-tab-btn.active img, .project_summary_tabs_sect .project-summary-tab-btn:hover img{
    display: block;
}


/*--- ProjectClasic ---*/
.project_clasic_custom_progress_sect{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    p{
        margin: 0;
    }
}
.project_clasic_custom_progress_sect .progress_bg{
    background: rgba($color: $white, $alpha: 0.3);
    height: 8px;
    max-width: 190px;
    width: 100%;
    margin-right: 24px;
    position: relative;
}
.project_clasic_custom_progress_sect .progress_bg .progress_bar.progress_bar82{
    height: 100%;
    background: $themeColor;
    animation-name: Progressing82;
    animation-duration: 3s;
    width: 82%;
}

@keyframes Progressing82 {
    0%{
        width: 0%;
    }
    
    100%{
        width: 82%;
    }
}

.project_clasic_custom_progress_sect .progress_bg .progress_bar.progress_bar92{
    height: 100%;
    background: $themeColor;
    animation-name: Progressing92;
    animation-duration: 4s;
    width: 92%;
}

@keyframes Progressing92 {
    0%{
        width: 0%;
    }
    
    100%{
        width: 92%;
    }
}

.project_clasic_custom_progress_sect .progress_bg .progress_bar.progress_bar100{
    height: 100%;
    background: $themeColor;
    animation-name: Progressing100;
    animation-duration: 4s;
    width: 100%;
}

@keyframes Progressing100 {
    0%{
        width: 0%;
    }
    
    100%{
        width: 100%;
    }
}

.project_clasic_custom_progress_sect .progress_bg .progress_bar.progress_bar36{
    height: 100%;
    background: $themeColor;
    animation-name: Progressing36;
    animation-duration: 4s;
    width: 36%;
}

@keyframes Progressing36 {
    0%{
        width: 0%;
    }
    
    100%{
        width: 36%;
    }
}

.project_clasic_custom_progress_sect .progress_bg .progress_bar.progress_bar65{
    height: 100%;
    background: $themeColor;
    animation-name: Progressing65;
    animation-duration: 4s;
    width: 65%;
}

@keyframes Progressing65 {
    0%{
        width: 0%;
    }
    
    100%{
        width: 65%;
    }
}
.project_clasic_custom_progress_sect .progress_bg .progress_bar.progress_bar93{
    height: 100%;
    background: $themeColor;
    animation-name: Progressing93;
    animation-duration: 4s;
    width: 93%;
}

@keyframes Progressing93 {
    0%{
        width: 0%;
    }
    
    100%{
        width: 93%;
    }
}



/*--- project clasic style ---*/
.gamfi_project_clasic_project_sect{
    background: $bgColor;
    padding-top: 50px;
    padding-bottom: 92px;
    
}

.project_clasic_slider_bg{
    background: url("../images/bg/ProjectClasic_sliderBg.png");
    min-height: 400px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    position: relative;
}

.project_clasic_slider_content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.project_clasic_slider_left_sect{
    max-width: 370px;
    width: 100%;
    padding-right: 30px;
}

.project_clasic_slider_img_and_title_sect{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 41px;
}

.project_clasic_slider_text_sect{
    margin-left: 24px;
    h3 {
        margin-bottom: 21px;
        a {
            font-family: $russoOneFont;
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 36px;
            color: $white;
            text-transform: capitalize;
        }
    }
    p {
        font-family: $interFont;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: rgba($color: $white, $alpha: 0.7);
        margin-bottom: 0px;
    }
}

.project_clasic_slider_left_rise_sect{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.project_clasic_slider_rise_content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    span {
        font-family: $interFont;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 0px;
        color: rgba($color: $white, $alpha: 0.7);
    }
    h2 {
        font-family: $russoOneFont;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 0px;
        color: $white;
    }
}


.project_clasic_slider_claim_btn {
    button {
        margin-top: 39px;
        width: 200px;
        height: 60px;
        border: none;
        outline: none;
        background: $themeColorBlue;
        font-family: $russoOneFont;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
        color: $white;
    }
}

.project_clasic_slider_center_sect{
    max-width: 190px;
    width: 100%;
    padding: 0px 20px;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.project_clasic_slider_right_sect{
    max-width: 370px;
    width: 100%;
}

.project_clasic_slider_right_timer{
    margin-bottom: 74px;
    h2{
        font-family: $interFont;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        text-transform: uppercase;
        margin-bottom: 22px;
        color: rgba($color: $white, $alpha: 0.7);
    }
}

.project_clasic_slider_right_timer ul {
    li {
        font-family: $russoOneFont;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 26px;
        color: $white;
    }
}



.project_clasic_slider_right_access_allocatoin_sect{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.access_allocation_text{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    span {
        font-family: $interFont;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 0px;
        color: rgba($color: $white, $alpha: 0.7);
    }
    h2 {
        font-family: $russoOneFont;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 0px;
        color: $white;
        text-transform: none;
    }
}

.project_clasic_slider_social_links{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 243px;
    margin-left: auto;
    margin-top: 59px;
    li a i{
        font-size: 22px;
        color: $white;
    }
}





.project_clasic_slider_progress_sect{
    margin-top: 50px;
}

.project_clasic_slider_progress_sect .progress .title {
    position: relative;
    z-index: 100;
    font-family: $russoOneFont;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: $white;
    margin-bottom: 0px;
}

.project_clasic_social_icon_list{
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.gamfi-project-section .project-item .project-media .project_clasic_social_icon_list .social-icon-list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0px;
    padding: 0px 30px;
}

.project_clasic_social_icon_list ul {
    li{
        margin-right: 25px;
    }
}

.gamfi-project-section .project-item .project-media .project_clasic_social_icon_list .social-icon-list li a i {
    padding-left: 0px;
    font-size: 18px;
}   