/*--- Gamfi About Section CSS ---*/
.gamfi-about-secion {
    background: $bgColor3;
}

.game-price-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    position: relative;
    z-index: 9;
    .game-price-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .price-inner .image-icon {
            margin-right: 25px;
        }
        .all-raise {
            color: $white;
        }
    }
    .allocation-max img {
        margin-top: 10px;
    }
    .allocation-max .allocation {
        color: $white;
        margin-top: 73px;
    }
    .targeted-raise .all-raise {
        color: rgba($color: $white, $alpha: 0.7);
        text-transform: uppercase;
    }
    .targeted-raise .targeted-raise {
        color: $white;
    }
}

.game-price-item .price-details{
    h3,
    a{
        color: $white;
        transition: 0.4s;
        text-transform: capitalize;
    }
    .dsc {
        text-transform: uppercase;
    }
}

.game-price-item {
    .more {
        border: 1px solid $borderColor2;
    }
    .btn-area,
    .text-content,
    .social-area {
        width: 33.333%;
    }
    .text-content {
        text-align: center;
    }
    .social-icon-list {
        text-align: right;
    }
}

.gamfi-about-secion{
    .text-content,
    .allocation,
    .targeted-raise {
        font-family: $russoOneFont;
    }
    .game-price-inner,
    .progress-inner {
        position: relative;
        z-index: 3;
    }
    .total-price .all-raise {
        font-family: $russoOneFont;
    }
    .targeted-raise .all-raise {
        font-family: $interFont;
    }
    .total-price,
    .targeted-raise {
        width: 38%;
        .targeted-raise {
            width: 100%;
        }
    }
    .allocation-max {
        width: 24%;
    }
}

.banner-slider-inner {
    margin-top: -156px;
    z-index: 9;
    position: relative;
    .game-price-inner img {
        max-width: 100%;
        width: auto;
        margin: 0 auto;
    }
}

.banner-slider-inner .owl-dots {
    text-align: center;
    margin-top: 10px;
    .owl-dot {
        width: 11px;
        height: 9px;
        transform: skew(20deg);
        background: rgba($color: $white, $alpha: 0.2);
        display: inline-block;
        margin: 0 5.5px;
        transition: 0.3s;
        &:hover,
        &.active{
            background: $white;
        }
    }
}

.price-counter .timer,
.banner-slider-inner .timer {
    margin-bottom: 48px;
}

.price-counter .timer ul,
.banner-slider-inner .timer ul {
    display: flex;
    justify-content: space-between;
    li {
        font-size: 30px;
        color: $white;
        span {
            font-size: 16px;
            margin-left: 2px;
        }
        &:last-child{
            margin-right: 0;
        }
    }
}

.hover-shape-inner {
    background: radial-gradient(circle, #4a4176 -24%, $bgColor2 40%);
    .hover-shape-bg {
        width: 35px;
        height: 100%;
        transform: skew(-26deg);
        display: inline-block;
        margin: 0 5.5px;
        transition: 0.3s;
        position: absolute;
        top: 0;
        z-index: -1;
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(150, 136, 217, 0.06) 50%, rgba(255, 255, 255, 0) 100%);
    }
    .hover_shape1 {
        left: 40%;
    }
    .hover_shape2 {
        left: 46.5%;
    }
    .hover_shape3 {
        left: 53%;
        width: 60px;
    }
}

.active-shape,
.hover-shape-border {
    position: relative;
    .border-shadow {
        content: "";
        display: block;
        position: absolute;
        z-index: 9;
    }
    .shadow-1,
    .shadow-3{
        width: 5px;
        height: 200px;
    }
    .shadow-2,
    .shadow-4{
        width: 200px;
    height: 5px;
    }
    .shadow-1{
        top: 0px;
        left: 0;
        background: linear-gradient(to bottom, $bgColor4 -100%, rgba(21, 22, 37, 0) 64%);
        width: 5px;
        height: 200px;
    }
    .shadow-2{
        top: 0px;
        left: 5px;
        background: linear-gradient(to right, $bgColor4 -100%, rgba(21, 22, 37, 0) 64%);
        width: 200px;
        height: 5px;
    }
    .shadow-3{
        bottom: 0px;
        right: 0;
        width: 5px;
        height: 200px;
        background: linear-gradient(to top, $themeColor -100%, rgba(21, 22, 37, 0) 64%);
    }
    .shadow-4{
        bottom: 0px;
        right: 5px;
        width: 200px;
        height: 5px;
        background: linear-gradient(to left, $themeColor -100%, rgba(21, 22, 37, 0) 64%);
    }
}

.hover-shape-border {
    .border-shadow {
        opacity: 0;
        visibility: hidden;
        transition: 0.4s;
    }
    &:hover{
        .border-shadow {
            opacity: 1;
            visibility: visible;
        }
    }
}

.participate-item {
    .participate-info h4 {
        margin-top: 30px;
    }
    .number-image {
        margin-right: 12px;
        flex: 0 0 21%;
    }
}