/* --- Gamfi footer Section CSS ---*/
.gamfi-footer-section {
    background-color: $bgColor;
    position: relative;
    .footer-cta-area {
        background: radial-gradient(circle, #4a4176 -24%, $bgColor2 40%);
        padding: 70px 0 80px 0;
        position: relative;
        z-index: 9;
    }
    .footer-area {
        background: url("../images/bg/footer-bg.jpg");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
        position: relative;
        padding-top: 250px;
        margin-top: -150px;
    }
}

.footer-bg-transparent{
    background: transparent !important;
}

.footer-cta-area .footer-link input[type="email"] {
    border: none;
    background: transparent;
    border: 2px solid #4C4764;
    padding: 15px 15px;
    width: 350px;
    color: $white;
    margin-right: 15px;
}

.footer-cta-area .footer-link .subscribe {
    background: $themeColor;
    span {
        z-index: 9;
    }
}

.footer-cta-area .footer-link input[type="submit"] {
    border: none;
    text-transform: uppercase;
    font-family: $russoOneFont;
    padding: 17px 50px;
    position: relative;
    z-index: 3;
    background: transparent;
}

.footer-cta-area .black-shape .hover-shape1,
.footer-cta-area .black-shape .hover-shape2,
.footer-cta-area .black-shape .hover-shape3 {
    background: rgba($color: $black, $alpha: 0.1);
}

.footer-cta-area .black-shape:hover .hover-shape1 {
    left: 44%;
}

.footer-cta-area .black-shape:hover .hover-shape3 {
    left: 56%;
}

.footer-cta-form .title {
    max-width: 550px;
    margin: 0 auto 18px;
    img {
        position: relative;
        top: -5px;
    }
}

.footer-cta-form form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 570px;
    margin: 0 auto;
}

//footer icon list style
.footer-icon-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
    }
    i {
        color: $white;
        background: url("../images/icons/icon-image.png");
        width: 60px;
        height: 60px;
        line-height: 60px;
        display: inline-block;
        margin: 0 12px;
        transition: 0.4s;
        font-size: 20px;
        &:hover{
            color: rgba($color: $white, $alpha: 0.7);
        }
    }
}

//footer mainmenu style
.footer-mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
        padding: 0 10px;
        a {
            color: rgba($color: $white, $alpha: 0.7);
            transition: 0.4s;
            &:hover{
                color: $white;
            }
        }
    }
}

//copyright text style
.copyright-area .gafi {
    color: rgba($color: $white, $alpha: 0.7);
    &:hover{
        color: $white;
    }
}

//scroll up style
.scrollup {
    padding-top: 10px;
    padding-bottom: 35px;
    i {
        font-weight: 700;
        font-size: 12px;
        color: rgba($color: $white, $alpha: 0.7);
        transition: 0.4s;
        &:hover{
            color: $white; 
        }
    }
}

/*--- home 2 footer ---*/
.gamfi_footer_btn_sect{
    height: 200px;
    background: $themeColorBlue;
    position: fixed;
    left: 0;
    top: auto;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.gamfi_footer_btn_content{
    height: 200px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    span.frame_left{
        position: absolute;
        left: 0px;
        bottom: 0px;
        z-index: 1;
    }
    span.frame_right{
        position: absolute;
        right: 0px;
        bottom: 0px;
        z-index: 1;
    }
    span img{
        height: 200px;
        filter: contrast(100);
    }
    a {
        position: absolute;
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 55px;
        text-align: center;
        text-transform: uppercase;
        color: $white;
        border: none;
        outline: none;
        background: transparent;
    }
}