/*--- Gamfi Breadcrumbs Section CSS ---*/
.gamfi-breadcrumbs-section {
    background: url("../images/bg/breadcrumbs-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0 70px;
    &.breadcrumbs-style2 {
        padding-top: 130px;
        padding-bottom: 115px;
        background: url("../images/bg/breadcrumbs-bg2.jpg");
        position: relative;
        background-position: bottom center;
        z-index: 2;
    }
}

.breadcrumbs-link {
    color: rgba($color: $white, $alpha: 0.7);
    text-transform: uppercase;
    margin-right: 24px;
    position: relative;
    font-family: $russoOneFont;
    &::before{
        content: "";
        width: 6px;
        height: 6px;
        background: rgba($color: $white, $alpha: 0.7);
        position: absolute;
        bottom: 4px;
        right: -15px;
    }
    &:hover{
        color: $themeColor;
    }
}

.breadcrumbs-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.breadcrumbs-social a {
    color: #B8B8BD;
    text-transform: uppercase;
    font-family: $russoOneFont;
    i {
        font-size: 15px;
    }
}

.breadcrumbs-form form {
    position: relative;
    margin-right: 30px;
    top: -3px;
}

.breadcrumbs-form input {
    background: transparent;
}

.breadcrumbs-form input[type="text"] {
    border: 1px solid rgba($color: $white, $alpha: 0.3);
    padding: 11px 20px;
    width: 380px;
    color: rgba($color: $white, $alpha: 0.7);
}

.breadcrumbs-form input[type="submit"] {
    font-size: 0;
    border: none;
}

.breadcrumbs-form .submit {
    position: absolute;
    right: -6px;
    top: 11px;
    i {
        font-size: 15px;
        cursor: pointer;
        padding: 0;
        color: rgba($color: $white, $alpha: 0.7);
        position: relative;
        transition: 0.4s;
        top: 2px;
        right: 10px;
        &:hover{
            color: #B9B9C0;
        }
    }
}

.breadcrumbs-form .btn-area .readon {
    background: rgba($color: $white, $alpha: 0.1);
    border: none;
    padding: 12px 26px 10px;
    color: $white;
    i {
        font-size: 15px;
        top: 1px;
        margin-right: 10px;
        color: $white;
        position: relative;
        z-index: 3;
    }
    &:hover{
        color: $white;
    }
}

/*--- project breadcrumb style ---*/
.project-clasic-breadcum-sect{
    height: auto;
    background: $bgColor;
    position: relative;
}

.project-clasic-breadcum-bg .project-clasic-breadcum-img{
    position: absolute;
    top: -110px;
    left: 0px;
    width: 100%;
    z-index: 0;
    img{
        width: 100%;
    }
}

/*--- blog breadcrumb style ---*/
.gamfi-breadcrumbs-section.blog-breadcrumbs {
    background: url("../images/blog/blog-bg.jpg");
    background-size: cover;
    padding-top: 410px;
    padding-bottom: 45px;
    .sec-heading h1{
        font-size: 60px;
        text-transform: none;
        margin-bottom: 45px;
    }
    .sub-menu img{
        margin-right: 10px;
    }
}

.gamfi-breadcrumbs-section.blog-breadcrumbs .sub-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        display: inline-block;
        margin-right: 35px;
    }
    li a{
        font-size: 16px;
        text-transform: uppercase;
    }
    li i{
        margin-right: 10px;
        font-size: 15px;
    }
}