/*--- Preloader CSS ---*/
.loader_first {
    background-color: $bgColor3;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.loader_first .circular-spinner {
    width: 60px;
    height: 60px;
    border: 10px solid rgba($color: $white, $alpha: 0.1);
    border-top: 10px solid $themeColor;
    border-radius: 50%;
    animation: pre_rotate 1.5s linear infinite;
    position: absolute;
    left: 49%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes pre_rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}