/*--- custom buttons style ---*/
.white-shape-small,
.white-shape-big,
.black-shape-big,
.black-shape,
.hover-shape {
    position: relative;
    overflow: hidden;
    img,
    .btn-text{
        position: relative;
        z-index: 9;
    }
    .hover-shape1,
    .hover-shape2,
    .hover-shape3{
        position: absolute;
        width: 5px;
        background: rgba(0, 0, 0, 0.1);
        height: 124%;
        left: -42%;
        top: -5px;
        transform: rotate(22deg);
        transition: 0.8s;
    }
    &:hover{
        .hover-shape1{
            left: 42%;
        }
        .hover-shape2{
            left: 50%;
        }
        .hover-shape3{
            width: 11px;
            left: 58%;
        }
    }
}

.white-shape-small,
.white-shape-big,
.black-shape{
    .hover-shape1,
    .hover-shape2,
    .hover-shape3{
        background: rgba($color: $white, $alpha: 0.1);
    }
}

.white-shape-big,
.black-shape-big{
    &:hover{
        .hover-shape1{
            left: 46%;
        }
        .hover-shape2{
            left: 49%;
        }
        .hover-shape3{
            left: 52.5%;
        }
    }
}

.black-shape-big-custom{
    position: relative;
    overflow: hidden;
    img,
    .btn-text{
        position: relative;
        z-index: 9;
    }
    .hover-shape1,
    .hover-shape2,
    .hover-shape3{
        position: absolute;
        width: 5px;
        background: rgba(0, 0, 0, 0.1);
        height: 124%;
        left: -42%;
        top: -5px;
        transform: rotate(22deg);
        transition: 0.8s;
    }
    .hover-shape3{
        width: 11px;
    }
    &:hover{
        .hover-shape1{
            left: 44.8%;
        }
        .hover-shape2 {
            left: 46.8%;
        }
        .hover-shape3{
            left: 48.8%;
        }
    }
}

.readon,
.white-bg-btn {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    transition: all 0.4s ease-in-out;
    font-family: $russoOneFont;
}

.readon {
    padding: 11px 20px 9px;
    color: $white;
    border: 2px solid #393941;
    overflow: hidden;
    i {
        position: relative;
        top: -2px;
        font-size: 8px;
        line-height: 0;
        color: rgba(255, 255, 255, 0.7);
        padding-left: 16px;
    }
    .fa-calendar-alt {
        font-size: 20px;
    }
}

.readon2 {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    transition: all 0.4s ease-in-out;
    font-family: $russoOneFont;
    color: $white;
    border: 2px solid $borderColor3;
    padding: 12px 25px 9px;
    transition: 0.4s;
    &:hover{
        color: $white;
    }
    i {
        font-size: 15px;
        margin-right: 10px;
        color: $white;
        position: relative;
        z-index: 3;
    }
}

.buy-token a.readon:hover{
    color: #ffffff;
}

.white-bg-btn {
    background: $white;
    color: #090a1a;
    border: 2px solid $white;
    padding: 10px 20px;
    i {
        margin-right: 8px;
        color: $black;
    }
    &:hover{
        background: transparent;
        color: $white;
        border-color: #393941;
        i {
            color: $white;
        }
    }    
}

.white-btn {
    background: $white;
    color: $bgColor;
    margin-left: 25px;
    padding: 13px 32px 11px;
    border: none;
    img {
        position: relative;
        top: -1px;
        margin-right: 8px;
    }
}

.banner-btn {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    transition: all 0.4s ease-in-out;
    font-family: $russoOneFont;
    background: $themeColor;
    color: $bgColor;
    padding: 19px 50px;
    .hover-shape1,
    .hover-shape2,
    .hover-shape3 {
        background: rgba($color: $black, $alpha: 0.1);
    }
    &:hover{
        color: $bgColor;
        .hover-shape1 {
            left: 44%;
        }
        .hover-shape3 {
            left: 54%;
        }
    }
}

.view-more {
    border: 2px solid $borderColor2;
    color: $white;
    padding: 12px 25px 8px;
    text-transform: uppercase;
    font-family: $russoOneFont;
    overflow: hidden;
    display: block;
    transition: 0.4s;
    i{
        font-size: 15px;
        padding-left: 15px;
    }
    &:hover{
        color: $white;
    }
}

.view-project-btn{
    width: 200px;
    height: 60px;
    background: $themeColor;
    outline: none;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    .btn-text {
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
        color: $bgColor;
    }
}

.apply-project-btn{
    width: 200px;
    height: 60px;
    margin-left: 15px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    .btn-text {
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
        color: $white;
    }
}

.show-more-logo-btn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    width: 180px;
    position: relative;
    background: transparent;
    margin: auto;
    padding: 16px 21px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    .btn-text {
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: $white;
    }
    .btn-text2 {
        display: none;
    }
    &::before{
        content: "\e902";
        position: absolute;
        top: 13px;
        right: 24px;
        color: rgba($color: $white, $alpha: 0.7);
        font-family: "icomoon";
        font-size: 12px;
        transform: rotate(90deg);
    }
    &.active{
        .btn-text-1{
            display: none;
        }
        .btn-text2{
            display: block;
        }
        &::before{
            content: "\e902";
            position: absolute;
            top: 13px;
            right: 24px;
            color: rgba($color: $white, $alpha: 0.7);
            font-family: "icomoon";
            font-size: 12px;
            transform: rotate(270deg);
        }
    }
}

.participate-btn, 
.whitelist-btn{
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    font-family: $russoOneFont;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: $white;
}

.participate-btn{
    background: $themeColorBlue;
    border: none;
}

.whitelist-btn{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    margin-left: 30px;
}

.connect-wallet-btn-for-mobile{
    width: 100%;
    background: $themeColorBlue;
    //height: 40px;
    margin-top: 20px;
    //display: none;
    .btn-text{
        color: $white;
        padding-left: 10px;
    }
}

.HelpCenterBtn a{
    width: 170px;
    height: 50px;
    background: rgba($color: $white, $alpha: 0.1);
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*--- buttons style ---*/
.theme-btn{
    padding: 20px 50px;
    background-color: $themeColor;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: $russoOneFont;
    font-size: 16px;
    font-weight: 400;
    color: #090a1a;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    img,
    span{
       z-index: 1;
    }
    .hover-shape1,
    .hover-shape2,
    .hover-shape3{
        position: absolute;
        z-index: 0;
        top: -5px;
        left: -20%;
        width: 5px;
        height: 124%;
        background: rgba($color: $black, $alpha: 0.1);
        transition: 0.8s;
        transform: rotate(22deg);
    }
    .hover-shape3{
        width: 11px;
    }
    &:hover{
        color: #090a1a;
        .hover-shape1{
            left: 44%;
        }
        .hover-shape2{
            left: 50%;
        }
        .hover-shape3{
            left: 56%;
        }
    }
}

.theme-btn{
    &.blue{
        background-color: $themeColorBlue;
        color: $white;
        &:hover{
            color: $white;
            .hover-shape1{
                left: 44.8%;
            }
            .hover-shape2{
                left: 46.8%;
            }
            .hover-shape3{
                left: 48.8%;
            }
        }
    }
}