/*--- Gamfi Project Section CSS ---*/
.gamfi-project-section {
    background: url("../images/bg/project-bg.jpg");
    padding-top: 115px;
    padding-bottom: 105px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.project-item {
    background: rgba($color: $bgColor2, $alpha: 0.8);
    margin-bottom: 30px;
    padding: 30px 30px 10px;
    a {
        color: $white;
        &:hover{
            color: rgba($color: $white, $alpha: 0.7);
        }
    }
    &:hover {
        background-image: radial-gradient(circle, rgba(137, 120, 211, 0.4) 0%, $bgColor2 100%);
    }
}

.project-item .project-info {
    margin-bottom: 28px;
    img {
        margin-right: 20px;
    }    
}

.project-item .heading-title {
    margin-bottom: 40px;
    h4 {
        font-size: 16px;
        margin-bottom: 0;
        position: relative;
        &::before{
            width: 197px;
            height: 35px;
            content: "";
            background-image: url("../images/bg/shape-bg.png");
            position: absolute;
            left: -30px;
            top: -7px;
        }
    }
}

.project-item .project-icon {
    position: relative;
    top: -6px;
}

.project-item .project-media {
    span{
        color: $white;
    }
    li {
        display: block;
        overflow: hidden;
        padding-bottom: 15px;
        &:last-child{
            padding-bottom: 0;
        }
        strong{
            font-weight: 400;
            color: $white;
        }
        span{
            float: right;
        }
    }
}

.social-icon-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    margin-top: -22px;
    li {
        padding-bottom: 0 !important;
        display: inline-block !important;
        i{
            padding-left: 10px;
        }
    }
    li a{
        color: $white;
        transition: 0.4s;
        i{
            font-size: 15px;
            transition: 0.4s;
        }
        &:hover{
            i{
                color: rgba($color: $white, $alpha: 0.7);
            }
        }
    }
}

