/*--- Gamfi farming Section CSS ---*/
.gamfi-farming-content{
    .default-centent {
        background: $bgColor5;
        padding: 18px 25px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .list-content {
        flex: 0 0 16.66%;
        width: 16.66%;
        color: $white;
    }
    .list-1 {
        flex: 0 0 26.66%;
        width: 26.66%;
    }
    .list-6 {
        flex: 0 0 2%;
        width: 2%;
    }
    .expeand-centent {
        background: #222231;
        padding: 28px 30px;
    }
} 

.farm-form-list .farm-form-area {
    border: 1px solid #434350;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.farm-form-list{
    &:last-child{
        h5 {
            position: relative;
            top: -15px;
        }
    }
    input {
        border: none;
        background: transparent;
        padding: 7px 20px;
        position: relative;
    }
    input[type="text"] {
        width: 100%;
        color: rgba($color: $white, $alpha: 0.7);
    }
    input[type="submit"] {
        color: $white;
        transition: 0.4S;
        text-transform: uppercase;
        font-family: $russoOneFont;
        position: relative;
        z-index: 3;
    }
    .max {
        position: absolute;
        color: $white;
        right: 45%;
        top: 19px;
    }
} 

.farm-form-list .black-shape {
    position: absolute;
    z-index: 9999;
    right: 9px;
    background: $themeColorBlue;
    span {
        background: rgba($color: $white, $alpha: 0.1);
    }
    .withdraw {
        background: rgba($color: $white, $alpha: 0.1);
    }
    .withdraw span {
        background: rgba($color: $white, $alpha: 0.1);
    }
    input[type="submit"].submit-active {
        background: $themeColorBlue;
    }
}

 .expeand-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
        color: $themeColor;
        font-size: 14px;
        margin-right: 30px;
        i {
            font-size: 15px;
            color: $themeColor;
            padding-left: 10px;
        }
    }
}

.expeand-centent{
    .unit {
        color: $themeColor;
        font-size: 22px;
        font-family: $russoOneFont;
    }
    .icon-arrow_up {
        padding: 10px;
        cursor: pointer;
    }
} 

.gamfi-farming-content .expeand-centent {
    display: none;
}

.gamfi-farming-content {
    .border-shadow {
        opacity: 0;
        visibility: hidden;
        transition: 0.4s;
    }
    .expeand-arrow {
        padding: 10px;
        cursor: pointer;
    }
}

.gamfi-farming-content .expeand-arrow .expeand-arrow {
    transform: rotate(0deg);
}

.gamfi-farming-content .expeand-bottom-content .expeand-centent {
    display: block;
}

.gamfi-farming-content .expeand-bottom-content .border-shadow {
    opacity: 1;
    visibility: visible;
}

.gamfi-farming-content .expeand-bottom-content .expeand-arrow:before {
    transform: rotate(45deg);
}

.gamfi-farming .gamfi-farming-content .default-centent {
    margin-bottom: 0;
}

.gamfi-farming .gamfi-table-inner {
    margin-bottom: 20px;
}

.gamfi-farming .farm-form-list {
    width: 33.33%;
    margin-right: 30px;
    &:last-child{
        margin-right: 0;
    }
}

.gamfi-farming .farm-form-list .farm-form {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    input[type="submit"] {
        position: static;
    }
}

.gamfi-farming-table {
    background: $bgColor;
}

.gamfi-farming-table table {
    width: 100%;
}

.gamfi-farming-table{
    tr th{
        font-family: "Inter", sans-serif;
        color: rgba($color: $white, $alpha: 0.7);
        font-weight: 400;
        text-transform: uppercase;
        padding-top: 8px;
        padding-bottom: 5px;
    }
    tr td{
        background: $bgColor5;
        color: $white;
    }
    tr th,
    tr td{
        width: 16.666%;
        padding: 25.5px 25px;
        margin-bottom: 10px;
        display: inline-block;
        &:first-child{width: 26.666%;}
    }
    tr th{
        &:nth-child(5){width: 22.666%;}
    }
}

.gamfi-farming-table tr{
    .image-row {
        padding-top: 18px;
        padding-bottom: 18px;
        img {
            margin-right: 10px;
        }
    }
} 