/*font family included*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
$interFont: 'Inter', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
$russoOneFont: 'Russo One', sans-serif;

$bodyFontFamily: $interFont;