/*--- Home-V3 ---*/
.sc_banner_v3 {
    position: relative;
    z-index: 9;
    overflow: hidden;
    padding: 170px 0 225px;
    background: url("../images/bg/V3_Banner_BG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.v3_baner_content{
    padding-top: 60px;
}

.ufo_img{
    position: absolute;
    top: 8%;
    left: 10%;
    z-index: 100;
}

.animetion_avater{
    position: relative;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        position: absolute;
        z-index: 100;
        animation-name: jump_avater;
        animation: jump_avater 4s infinite;
    }
}

@keyframes jump_avater {
    0%,
    100% {
        bottom: 0;
    }

    50% {
        bottom: 30px;
    }
}

.sc_banner_v3_left{
    h2 {
        max-width: 499px;
        width: 100%;
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 70px;
        text-transform: uppercase;
        color: $white;
        margin-bottom: 30px;
    }
    p {
        max-width: 564px;
        width: 100%;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        color: $white;
        margin-bottom: 60px;
    }
} 

.animetion_avater{
    text-align: center;
    position: relative;
}

.sc_banner_v3_right ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    li{
        margin-right: 35px;
        max-width: 163px;
        width: 100%;
    }
    li h3 {
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 40px;
        color: $white;
        margin-bottom: 0px;
    }
    li h4 {
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 40px;
        text-transform: uppercase;
        color: $themeColorBlue;
        margin-bottom: 0px;
    }
}

.multi_block_chains_sect{
    background: rgba($color: $bgColor2, $alpha: 0.8);
    backdrop-filter: blur(5px);
    min-height: 158px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 2;
    .red-border-gradient{
        position: absolute;
        top: -248px;
        left: 248px;
        background: linear-gradient(180deg, rgba(248, 37, 82, 0.5) 0%, rgba(21, 22, 37, 0) 100%);
        width: 5px;
        height: 500px;
        transform: rotate(-90deg);
    }
    .green-border-gradient{
        position: absolute;
        bottom: -248px;
        right: 248px;
        background: linear-gradient(180deg, rgba(163, 255, 18, 0.5) 0%, rgba(21, 22, 37, 0) 100%);
        width: 5px;
        height: 500px;
        transform: rotate(90deg);
    }
}

.Multi_Block_Chains_Content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.multi_block_chains_left{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    h3 {
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 36px;
        text-transform: uppercase;
        margin-bottom: 0px;
        color: $white;
    }
    h3 span{
        margin-left: 10px;
        img{
            margin-top: -2px;
        }
    }
}

.project_pools_v3{
    padding-top: 136px;   
}

.key_points_v2_section{
    background: rgba(30, 31, 53, 0.7);
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 2;
} 

.gamfi_v3_project_pools_btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li{
        margin-left: 20px;
    }
    li button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        outline: none;
        border: 2px solid rgba(255, 255, 255, 0.15);
        box-sizing: border-box;
        color: rgba($color: $white, $alpha: 0.7);
        width: 170px;
        height: 50px;
        padding: 0px;
    }
    li.active button {
        background: rgba(255, 255, 255, 0.15);
        color: $white;
        border: none;
        box-sizing: content-box;
        &.black-shape {
            .hover-shape1 {
                left: 42%;
            }
            .hover-shape1 {
                left: 50%;
            }
            .hover-shape3 {
                left: 58%;
            }
        }
    }
}

.our_partners_v3_sect{
    padding-top: 136px;
    position: relative;
}

.OurPartnat_EathImg{
    position: absolute;
    top: -60px;
    right: 225px;
    z-index: 0;
}

.RocketImgBW{
    position: absolute;
    top: 232px;
    left: 0px;
    z-index: 0;
}

.animate_opacity {
    animation: opac 1.5s
}

@keyframes opac {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.how_to_participate_sect{
    background: $bgColor;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 140px;
    .moon_img_bg{
        position: absolute;
        top: 20px;
    }
    .container{
        position: relative;
        z-index: 2;
    }
    .locker_img{
        position: absolute;
        bottom: -220px;
        left: 0px;
        z-index: 0;
    }
}

.how_to_participate_left_content{
    p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: rgba($color: $white, $alpha: 0.7);
        margin-bottom: 40px;
        max-width: 450px;
        width: 100%;
        padding-right: 12px;
    }
}

.how_to_participate_left_btn{
    max-width: 170px;
    height: 50px;
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        height: 100%;
        width: 100%;
    }
}

.how_to_participate_right_card{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 186px;
    padding: 35px 50px;
    background: rgba(30, 31, 53, 0.7);
    backdrop-filter: blur(10px);
    margin-bottom: 20px;
}

.how_to_participate_right_card_number{
    min-width: 80px;
    margin-right: 35px;
}

.how_to_participate_right_card_text{
    max-width: 334px;
    width: 100%;
    h4 {
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 27px;
        color: $white;
        margin-bottom: 10px;
    }
    p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 0px;
        color: rgba($color: $white, $alpha: 0.7);
    }    
}

.multi_block_chains_right_sect{
    padding: 54px 0px;
}

.multi_block_chains_right{
    background: transparent;
}

.multi_block_chains_right_content .partner-image a{
    margin: 0px 27px;
}

.multi_block_chains_right .multi_block_chains_right_content:after, 
.multi_block_chains_right .multi_block_chains_right_content:before{
    background: linear-gradient(269.8deg, rgba(26, 27, 48, 0) 0.18%, $bgColor5 99.84%);
}

.multi_block_chains_right .multi_block_chains_right_content:after {
    right: 0px;
    transform: rotateZ(180deg);
}