/*---------Index-V4---------*/
.home_v4_bg{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
    background: url("../images/bg/home4BG.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_v4_body_content{
    position: relative;
    z-index: 1;
}

.sc_banner_v4_right .animetion_avater{
    justify-content: flex-end;
}

.sc_banner_v3.sc_banner_v4{
    background: transparent;
    padding-bottom: 192px;
    .gamfi_v2_hero_btns{
        margin-bottom: 0px;
    }
}

.home_v4_partners_sect {
    background: rgba(48, 50, 72, 0.5);
    backdrop-filter: blur(10px);
    height: 158px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.home_v4_partners_sect .home_v4_partners_content{
    background: transparent;
    
}

.gamfi-partner-section.home_v4_partners_content .gamfi-partner-inner:after, 
.gamfi-partner-section.home_v4_partners_content .gamfi-partner-inner:before{
    background: linear-gradient(269.8deg, rgba(30, 31, 49, 0) 0.18%, #1E1F31 99.84%);
    height: 100%;
}


.home_v4_live_project_sect{
    margin-top: 136px;
}
.home_v4_gamfi_tier_v3_sect{
    background: transparent;
}
.home_v4_faq_sect{
    background: transparent;
}
.gamfi_Home4_footer_section, .gamfi_Home4_footer_section .HomeV4_FooterArea{
    background: transparent;
}

.home_v4_participate_sect{
    padding-bottom: 30px;
}


.gamfi-project-section.home_v4_our_project_sect{
    background: transparent;
    padding-top: 80px;
}
.gamfi-previous-section.v4_our_project_previous_sect{
    background: transparent;
}

.project_clasic_2_container.home_v3_project_clasic_2_container{
    padding: 0px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
}
.home_v4_our_project_sect .gamfi-previous-section .previous-item{
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
}
.v3_project_clasic_2_container_right_sect{
    padding: 25px 30px 30px 0px;
}

.v3_project_clasic_2_container_right_sect .access_allocation_participants_sect{
    margin-top: 30px;
}

.RodmapConetentbox ul{
    li span.icon-check-custom{
        position: relative;
        width: 14px;
        height: 12px;
        &::before{
            content: '';
            position: absolute;
            left: 5px;
            top: 2px;
            width: 9px;
            height: 15px;
            border: solid rgba(255, 255, 255, 0.5);
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    li span.icon-muines-custom{
        position: relative;
        width: 14px;
        height: 12px;
        &::before{
            content: '';
            position: absolute;
            left: 0px;
            top: 11px;
            width: 14px;
            border-top: 3px solid rgba(255, 255, 255, 0.5);
        }
    }
} 

.home_v4_body_items{
    position: relative;
    z-index: 3;
}

.home_v4_fire_fly_bg{
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
}


.live_project_headings{
    position: relative;
    max-width: 333px;
    width: 100%;
&::before,
    &::after{
        box-sizing: border-box;
    }
}

.live_project_headings .video__icon {
    position: absolute;
    width: 32px;
    right: 0px;
    top: 4px;
    .circle--outer {
        border: 1px solid #e50040;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: 0 auto 5px;
        position: relative;
        opacity: .8;
        -webkit-animation: circle 2s ease-in-out infinite;
        animation: circle 2s ease-in-out infinite;
    }
    .circle--inner {
        background: #e50040;
        left: 7px;
        top: 7px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        position: absolute;
        opacity: .8;
        &::after{
            content: '';
            display: block;
            border: 2px solid #e50040;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            top: -3.2px;
            left: -3.2px;
            position: absolute;
            opacity: .8;
            animation: circle 2s ease-in-out .2s infinite;
        }
    }
}

.live_project_headings .video__icon p {
    color: #000;
    text-align: center;
}

@-webkit-keyframes circle {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes circle {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

.gamfi-previous-section .previous-mainmenu ul {
    .list1.list1_custom{
        width: 31%;
    }
    .list2.list2_custom{
        width: 14%;
    }
    .list3.list3_custom{
        width: 15%;
    }
    .list4.list4_custom{
        width: 15%;
    }
    .list5.list5_custom{
        width: 21%;
    }
}

.gamfi-previous-section .previous-item{
    .previous-gaming.list1_custom{
        width: 31%;
    }
    .previous-chaining.list2_custom{
        width: 14%;
    }
    .previous_ends_in.list3_custom{
        width: 16%;
    }
    .previous-raise.list4_custom{
        width: 17%;
    }
    .previous_progress.list5_custom{
        width: 21%;
    }
}


.gamfi-previous-section.project_clasic_previous_section .previous-item .previous_ends_in.list3_custom span {
    font-family: $interFont;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 45px;
    text-transform: uppercase;
    color: $white;
}

.gamfi-previous-section .previous-item .previous-raise.list4_custom span {
    font-family: $interFont;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 45px;
    text-transform: uppercase;
    color: $white;
}

.previous_clasic_custom_progress_sect p {
    font-family: $interFont;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 45px;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 0px;
}