/*--- Modal Section CSS ---*/
.modal .modal-dialog {
    max-width: 440px;
    margin: auto;
    margin-top: 50px;
}

.modal-content {
    background: $bgColor2;
    padding: 30px 35px 5px;
    p{
        font-size: 14px;
    }
    .modal-header {
        border: none;
        padding-bottom: 8px;
        i {
            font-size: 15px;
            color: $white;
        }
    }
}

.modal-content .heading-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: block;
        background: #292A3F;
        padding: 15px 30px;
        margin-bottom: 20px;
        position: relative;
        cursor: pointer;
        span {
            width: 35px;
            display: inline-block;
            margin-right: 20px;
        }
        &::before{
            content: "\e902";
            position: absolute;
            top: 22px;
            right: 30px;
            color: rgba($color: $white, $alpha: 0.7);
            font-family: "icomoon";
            font-size: 10px;
        }
    }
    li a{
        color: $white;
        font-family: $russoOneFont;
    }
}

.modal-content .modal-title {
    color: $white;
    transition: 0.4s;
    font-weight: 600;
    &:hover{
        color: rgba($color: $white, $alpha: 0.7);
    }
}

#shareIocns .modal-content {
    padding-right: 10px;
    .modal-header {
        padding-bottom: 15px;
    }
    .btn-close {
        position: relative;
        right: 26px;
        top: -7px;
    }
}

#shareIocns .popup-share-icons {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin-left: -14px;
    li {
        flex: 0 0 auto;
        width: 21%;
        margin-left: 14px;
        i{
            color: $white;
            background: url("../images/icons/icon-image.png");
            width: 60px;
            height: 60px;
            line-height: 60px;
            display: inline-block;
            margin: 0 0 25px;
            transition: 0.4s;
            font-size: 20px;
            text-align: center;
            &:hover{
                color: rgba($color: $white, $alpha: 0.7);
            }
        }
    }
    li a{
        display: block;
    }
}

/*--- modal-backdrop ---*/
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100vw;
    height: 100vh;
    filter: blur(1px);
    backdrop-filter: blur(1px);
    background: rgba($color: #00000C, $alpha: 0.8);
    &.in{
        opacity: 1 !important;
    }
}