/*--- FAQ screen css ---*/
.faq_screen_sect{
    padding: 64px 0px 140px 0px;
    background: #090a1a;
}

.faq_screen_tab_sect{
    padding-right: 25px;
}

.faq_screen_tab{
    background: linear-gradient(180deg, #1e1f35 0%, rgba(30, 31, 53, 0) 100%);
    padding: 34px 49px;
    min-height: 566px;
}

.faq_screen_tab ul{
    li {
        font-family: $russoOneFont;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 50px;
        color: rgba(255, 255, 255, 0.7);
        cursor: pointer;
        span{
            margin-left: 10px;
            display: none;
        }
        &.active,
        &:hover{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-family: $russoOneFont;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 50px;
            color: #a3ff12;
            text-transform: none;
            span{
                display: block;
            }
        }
    }
}

.faq_screen_tab_content{
    padding-left: 25px;
}

.faq_content_sect{
    width: 100%;
    margin: auto;
    position: relative;
}

.faq_content_sect .accordion {
    cursor: pointer;
    background: transparent;
    width: 100%;
    font-family: $russoOneFont;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.7);
    text-transform: none;
    backdrop-filter: blur(10px);
    position: relative;
    margin-bottom: 0px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 25px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    span{
        position: absolute;
        right: 0px;
        min-width: 18px;
        margin-left: 20px;
    }
    &.active {
        background: transparent;
        color: $white;
        border-bottom: none;
    }
    &:hover{
        background: transparent;
        color: $white;
    }
}

.faq_content_sect{
    .icon-minus{
        display: none;
        margin-top: 12px;
    }
    .active{
        .icon-minus{
            display: block;
        }
        .icon-plus{
            display: none;
        }
    }
} 

.faq_content_sect .accordion-panel {
    padding: 0px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    background: transparent;    
    p {
        padding: 0px;
        font-family: $interFont;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: rgba(255, 255, 255, 0.7);
        max-width: 639px;
        width: 100%;
        margin-bottom: 0px;
    }
}