/*--- Home two style ---*/
.gafi_body{
    position: relative;
    z-index: 2;
    margin-bottom: 200px;
    background: $bgColor;
}

.gamfi_header_v2{
    min-height: 800px;
    background: url("../images/bg/bgV2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.gamfi_v2_hero_sect{
    padding-top: 80px;
}
.gamfi_v2_hero_left{
    margin-top: 136px;
    h2 {
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 70px;
        text-transform: uppercase;
        color: $white;
        margin-bottom: 0px;
        span {
            color: $bgColor4;
        }
    }
    p {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        color: $white;
        margin-top: 22px;
    }
}

.gamfi_v2_hero_btns{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 106px;
}

.buy-token-logos {
    h6 {
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        margin-bottom: 26px;
        color: $white;
    }
}

.buy-token-logos ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    li{
        margin-right: 32px;
    }    
}

.gamfi_v2_hero_right{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    max-width: 450px;
    margin-left: auto;
    height: 100%;
    width: 100%;
}

.gamfi_v2_hero_rocket{
    position: relative;
    margin-top: 70px;
    .RedRocketImg{
        position: relative;
        animation-name: RocketLaunch;
        animation: RocketLaunch 5s infinite;
        z-index: 1;
    }
}

@keyframes RocketLaunch {
    
    0%,
    100% {
        bottom: 0;
    }
    
    50% {
        bottom: 30px;
    }
}
.gamfi_v2_hero_rocket{
    .rocketshadow1 {
        position: absolute; 
        top: 15%;
        left: 40%;
        z-index: 2;
        img{
            position: relative;
            animation-name: rocketshadow1;
            animation: rocketshadow1 0.95s infinite;
        }
    }
    .rocketshadow2 {
        position: absolute; 
        top: 50%;
        left: 25%;
        z-index: 2;
        img{
            position: relative;
            animation-name: rocketshadow2;
            animation: rocketshadow2 0.95s infinite;
        }
    }
    .rocketshadow3 {
        position: absolute; 
        top: 62%;
        right: 29%;
        z-index: 2;
        img{
            position: relative;
            animation-name: rocketshadow3;
            animation: rocketshadow3 1s infinite;
        }
    }
    .rocketshadow4 {
        position: absolute; 
        top: 60%;
        left: 35%;
        z-index: 0;
        img{
            position: relative;
            animation-name: rocketshadow4;
            animation: rocketshadow4 1.05s infinite;
        }
    }
    .rocketshadow5 {
        position: absolute; 
        top: 40%;
        right: 33.5%;
        z-index: 0;
        img{
            position: relative;
            animation-name: rocketshadow5;
            animation: rocketshadow5 1.05s infinite;
        }
    }
} 

@keyframes rocketshadow1 {
    from {top: -30px; opacity: 1}
    to {top: 80px; opacity: 0}
}

@keyframes rocketshadow2 {
    from {top: -30px; opacity: 1}
    to {top: 80px; opacity: 0}
}

@keyframes rocketshadow3 {
    from {top: -40px; opacity: 1}
    to {top: 50px; opacity: 0}
}

@keyframes rocketshadow4 {
    from {top: -30px; opacity: 1}
    to {top: 80px; opacity: 0}
}

@keyframes rocketshadow5 {
    from {top: -40px; opacity: 1}
    to {top: 50px; opacity: 0}
}


.market_cap_sect{
    background: rgba($color: $bgColor2, $alpha: 0.8);
    backdrop-filter: blur(5px);
    min-height: 158px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    .red-border-gradient{
        position: absolute;
        top: -248px;
        left: 248px;
        background: linear-gradient(180deg, rgba(248, 37, 82, 0.5) 0%, rgba(21, 22, 37, 0) 100%);
        width: 5px;
        height: 500px;
        transform: rotate(-90deg);
    }
    .green-border-gradient{
        position: absolute;
        bottom: -248px;
        right: 248px;
        background: linear-gradient(180deg, rgba(163, 255, 18, 0.5) 0%, rgba(21, 22, 37, 0) 100%);
        width: 5px;
        height: 500px;
        transform: rotate(90deg);
    }
}

.market_cap_all_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.market_cap_content{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    h2 {
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 45px;
        margin-bottom: 0px;
        color: rgba($color: $white, $alpha: 0.7);
    }
    h3 {
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 45px;
        text-transform: uppercase;
        color: $themeColorBlue;
        margin-bottom: 0px;
    }
}

.gamfi-project-section .project-item.project_item_v2{
    position: relative;
    padding-bottom: 89px;
}

.social_icons_sect{
    position: absolute;
    background: rgba(255, 255, 255, 0.05);
    height: 50px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    padding: 15px 30px;
}

.social_icons_sect .social_icon_list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    li{
        margin-right: 25px;
    }
    a i{
        font-size: 17px;
    }
    li.medium a i{
        font-size: 15px;
    }
}

.gamfi-project-section .project-item .heading-title .price-counter{
    position: relative;
    margin-bottom: 0px;
}
.project_pools_sect .project-item .heading-title .price-counter{
    margin-bottom: 50px;
}
.gamfi-project-section .project-item .heading-title .price-counter .timer{
    margin-bottom: 0px;
}
.gamfi-project-section .project-item .heading-title .price-counter .timer ul li {
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $white;
    margin-right: 10px;
    text-transform: lowercase;
}
.gamfi-project-section .project-item .heading-title.heading-title-v2 .price-counter:before {
    width: 241px;
    height: 35px;
    content: "";
    background-image: url("../images/bg/shapeBgV2.svg");
    position: absolute;
    left: -30px;
    top: -7px;
}

.project_v2_tab_btns ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li{
        margin-left: 20px;
    }
    li button {
        width: 170px;
        height: 50px;
        border: 1px solid rgba($color: $white, $alpha: 0.2);
        background: transparent;
        outline: none;
    }
    li.project_v2_tab_links.active button{
        background: rgba(255, 255, 255, 0.15);
        border: none;
    }
}

.project_v2_tab_content .heading-title{
    margin-bottom: 0px !important;
}
.project_v2_tab_btns ul li.project_v2_tab_links.active button.black-shape .hover-shape1,
.project_v2_tab_btns ul li.project_v2_tab_links.active button.hover-shape .hover-shape1 {
    left: 42%;
}
.project_v2_tab_btns ul li.project_v2_tab_links.active button.black-shape .hover-shape2,
.project_v2_tab_btns ul li.project_v2_tab_links.active button.hover-shape .hover-shape2 {
    left: 50%;
}
.project_v2_tab_btns ul li.project_v2_tab_links.active button.black-shape .hover-shape3 {
    left: 58%;
}

.project_v2_tab_btns ul li button .btn-text{
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: rgba($color: $white, $alpha: 0.7);
}



.gamfi-project-section.project_pools_sect {
    /*
    background: url(../images/bg/project-bg.jpg);
    */
    background: $bgColor;
    padding-top: 115px;
    padding-bottom: 105px;
}
.gamfi-project-section.project_pools_sect .container{
    position: relative;
    z-index: 2;
}

.key_points_section .key_points_bg{
    position: absolute;
    background: url("../images/bg/project-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
    top: -650px;
    
}
.key_points_section .container{
    position: relative;
    z-index: 2;
}
.key_points_section .key_points_bg .bg-stone{
    position: relative;
    height: 100%;
    width: 100%;
}
.key_points_section .key_points_bg span.stone1{
    position: absolute;
    top: 31%;
    left: 14%;
    animation-name: stoneFly1;
    animation: stoneFly1 7s infinite;
}
@keyframes stoneFly1 {
    
    0%,
    100% {
        left: 5%;
    }
    
    25%{
        top: 32%;
    }
    
    50% {
        left: 15%;
    }
}


.key_points_section .key_points_bg span.stone2{
    position: absolute;
    bottom: 15%;
    left: 5%;
    animation-name: stoneFly2;
    animation: stoneFly2 7s infinite;
}

@keyframes stoneFly2 {
    
    0%,
    100% {
        bottom: 15%;
    }
    
    50% {
        bottom: 20%;
    }
}
.key_points_section .key_points_bg span.stone3{
    position: absolute;
    bottom: 45%;
    right: 5%;
    animation-name: stoneFly3;
    animation: stoneFly3 4s infinite;
}
@keyframes stoneFly3 {
    
    0%,
    100% {
        bottom: 42%;
    }
    
    50% {
        bottom: 48%;
    }
}

.key_points_section{
    background: $bgColor;
    padding-top: 115px;
    padding-bottom: 105px;
    position: relative;
}
.key_points_item_img{
    min-height: 50px;
}
.key_points_item_img img{
    min-height: 50px;
}
.key_points_item_text{
    width: 100%;
    padding-top: 26px;
    h3 {
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 21px;
        color: $white;
        text-transform: capitalize
    }
    p {
        max-width: 249px;
        width: 100%;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: rgba($color: $white, $alpha: 0.7);
    }
}

.tier_system_section{
    background: $bgColor;
    padding-top: 0px;
    padding-bottom: 105px;
}

.tier_system_headings{
    margin-bottom: 4px;
}
.tier_system_headings ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 26px;
    li{
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 45px;
        text-transform: uppercase;
        color: rgba($color: $white, $alpha: 0.7);
    }
    li.tiers_headings{
        width: 140px;
        margin-right: 81px;
    }
    li.staking_headings{
        width: 158px;
        margin-right: 46px;
    }
    li.allocation_headings{
        width: 175px;
        margin-right: 84px;
    }
    li.requirements_headings{
        width: 158px;
        margin-right: 79px;
    }
    li.kyc_headings{
        width: 41px;
        margin-right: 73px;
    }
    li.weight_headings{
        width: 99px;
    }
}

.tier_system_items{
    min-height: 92px;
    width: 100%;
    background: rgba($color: $bgColor2, $alpha: 0.8);
    backdrop-filter: blur(5px);
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &:hover{
        background: radial-gradient(circle, rgba(96, 79, 169, 0.58) -7%, $bgColor2 30%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.tier_system_items ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 26px;
    li{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 158%;
        text-transform: none;
        color: $white;
        span{
            min-width: 40px;
            margin-right: 11px;
        }
        strong {
            font-family: Russo One;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 158%;
            color: $white;
        }
    }
    li.tiers_item{
        width: 140px;
        margin-right: 84px;
    }
    li.staking_item{
        width: 158px;
        margin-right: 46px;
    }
    li.allocation_item{
        width: 175px;
        margin-right: 84px;
    }
    li.requirements_item{
        width: 158px;
        margin-right: 79px;
    }
    li.kyc_item{
        width: 41px;
        margin-right: 73px;
    }
    li.weight_item{
        width: 99px;
    }
}

.tier_system_items{
    span.border-shadow-red1 {
        background: linear-gradient(180deg, rgba(248, 37, 82, 0.5) 0%, rgba(21, 22, 37, 0) 100%);
        height: 200px;
        width: 5px;
        position: absolute;
        z-index: 4;
        top: -97.5px;
        left: 97.5px;
        transform: rotate(-90deg);
        display: none;
    }
    span.border-shadow-red2{
        background: linear-gradient(180deg, rgba(248, 37, 82, 0.5) 0%, rgba(21, 22, 37, 0) 100%);
        height: 87px;
        width: 5px;
        position: absolute;
        z-index: 4;
        top:  5px;
        left: 0px;
        display: none;
    }
    span.border-shadow-green1{
        background: linear-gradient(180deg, rgba(163, 255, 18, 0.5) 0%, rgba(21, 22, 37, 0) 100%);
        height: 200px;
        width: 5px;
        position: absolute;
        z-index: 4;
        bottom: -97.5px;
        right: 97.5px;
        transform: rotate(90deg);
        display: none;
    }
    span.border-shadow-green2{
        background: linear-gradient(180deg, rgba(163, 255, 18, 0.5) 0%, rgba(21, 22, 37, 0) 100%);
        height: 85px;
        width: 5px;
        position: absolute;
        z-index: 4;
        bottom:  5px;
        right: 0px;
        transform: rotate(180deg);
        display: none;
    }
    &:hover{
        span.border-shadow-red1,
        span.border-shadow-red2{
            display: block;
        }
        span.border-shadow-green1,
        span.border-shadow-green2{
            display: block;
        }
    }
}

.tier_system_items {
    .bg-shape{
        position: absolute;
        height: 100%;
        display: none;
        left: 45%;
        img{
            height: 100%;
        }
    }
    &:hover{
        .bg-shape{
            display: block;
        }
    }
}

.multi_chain_support_sect{
    background: $bgColor;
    padding-top: 0px;
    padding-bottom: 105px;
}

.multi_chain_support_right_content{
    margin-top: 32px;
    p {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: rgba($color: $white, $alpha: 0.7);
    }
}

.multi_chain_support_right_list{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.multi_chain_support_right_list ul{
    margin-right: 86px;
    li{
        position: relative;
        margin-bottom: 9px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: $white;
        span{
            margin-right: 15px;
        }
    }
}


.roadmap_v2_section{
    padding-top: 116px;
    padding-bottom: 123px;
    background: rgba($color: $bgColor2, $alpha: 0.8);
    backdrop-filter: blur(5px);
    position: relative;
    span.farme1{
        position: absolute;
        top: 0px;
        left: 0px;
    }
    span.farme2{
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
}

.gamfi_our_mentor_section{
    background: $bgColor;
    padding-top: 0px;
    padding-bottom: 105px;
}

.roadmap-tab-btns ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li{
        margin-left: 20px;
        &:nth-child(1){
            margin-left: 0px;
        }
    }
    li button {
        width: 140px;
        height: 50px;
        border: 1px solid rgba($color: $white, $alpha: 0.2);
        background: transparent;
        outline: none;
    }
    li.tablinks.active button{
        background: rgba(255, 255, 255, 0.15);
        border: none;
    }
    li.tablinks.active button.black-shape .hover-shape1, 
    li.tablinks.active button.hover-shape .hover-shape1 {
        left: 42%;
    }
    li.tablinks.active button.black-shape .hover-shape2, 
    li.tablinks.active button.hover-shape .hover-shape2 {
        left: 50%;
    }
    li.tablinks.active button.black-shape .hover-shape3 {
        left: 58%;
    }
    li button .btn-text{
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
        color: rgba($color: $white, $alpha: 0.7);
    }
}

.our_partners_content_sect{
    position: relative;
    .our_partners_list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
    }
}

.our_partners_content_sect .our_partners_list {
    li{
        width: 18%;
        text-align: center;
        margin-bottom: 65px;
        &.hidden{
            display: none;
        }
    }
}

.show-more-btn-sect{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our_partners_content_sect .overlay{
    background: linear-gradient(180deg, rgba(9, 10, 26, 0) 0%, $bgColor 100%);
    height: 158px;
    width: 100%;
    z-index: 2;
    position: absolute;
    bottom: 105px;
}

.roadmap_v2_tab_content_sect{
    position: relative;
}

.roadmap_shape{
    position: absolute;
    top: 35px;
}

.faq_content_sect{
    max-width: 770px;
    width: 100%;
    margin: auto;
    margin-top: 60px;
    position: relative;
}

.faq_questions{
    position: relative;
    z-index: 2;
}

.FAQGalaxyImg{
    position: absolute;
    top: 160px;
    left: -190px;
    z-index: 0;
}

/* Style the Headings that are used to open and close the accordion panel */
.faq_content_sect .faq_questions .accordion {
    cursor: pointer;
    background: rgba(30, 31, 53, 0.5);
    height: 76px;
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: rgba($color: $white, $alpha: 0.7);
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 29px;
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: rgba($color: $white, $alpha: 0.7);
    border-top: 1px solid rgba($color: $white, $alpha: 0.1);
    text-transform: none;
    backdrop-filter: blur(10px);
    span{
        min-width: 18px;
        margin-left: 20px;
        right: 20px;
    }
    &.active,
    &:hover{
        background: rgba(255, 255, 255, 0.05);
        color: $white;
    }
}

.faq_content_sect .faq_questions .accordion 
.faq_content_sect .faq_questions .icon-minus{
    display: none;
    margin-top: 0px;
}
.faq_content_sect .faq_questions .active .faq_content_sect .icon-minus{
    display: block;
}
.faq_content_sect .faq_questions .active .icon-plus{
    display: none;
}

/* Style the accordion panel */
.faq_content_sect .faq_questions .accordion-panel {
    padding: 0px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    
}
.faq_content_sect .faq_questions .accordion-panel p {
    padding: 0px 48px 24px 29px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: rgba($color: $white, $alpha: 0.7);
    margin-bottom: 0px;
    max-width: 100%;
}

.faq_content_sect{
    h6{
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: $white;
        margin-top: 36px;
        position: relative;
        z-index: 2;
        a {
            font-family: Russo One;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            
            color: $themeColor;
        }
    }
}

.no-border{
    border: none !important;
}


.footer_titleV2{
    max-width: 452px;
    margin: auto;
}

.gamfisubscriveSect{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 570px;
    width: 100%;
    margin: auto;
    input {
        max-width: 350px;
        width: 100%;
        height: 60px;
        padding: 8px 19px;
        background: transparent;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 45px;
        color: $white;
        border: 1px solid rgba($color: $white, $alpha: 0.1);
        outline: none;
        transition: all 0.4s ease-in-out;
    }
}

.roadmap_contents h3 {
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: $themeColorBlue;
    margin-bottom: 75px;
}

.roadmap_contents.disable h3{
    color: rgba($color: $white, $alpha: 0.7);
}

.roadmap_list_sect{
    position: relative;
    padding-left: 10px;
    .check_icon_bg{
        height: 21px;
        width: 21px;
        background: $themeColor;
        border-radius: 50%;
        position: absolute;
        top: -30px;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
} 

.roadmap_contents.disable .roadmap_list_sect{
    .check_icon_bg{
        background: rgba($color: $white, $alpha: 0.7);
    }
}

.roadmap_list_sect ul{
    border-left: 1px dashed rgba(255, 255, 255, 0.25);
    padding-left: 21px;
    li {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 36px;
        color: rgba($color: $white, $alpha: 0.7);
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    li span {
        margin-right: 15px;
        min-width: 15px;
        min-height: 36px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

.roadmap_v2_tab_content_2022 .roadmap_list_sect ul {
    li span {
        margin-right: 15px;
        min-width: 15px;
    }
}