//solid colors
$white: #FFFFFF;
$black: #000000;

//body color 
$bodyColor: #151625;

//theme colors
$themeColor: #A3FF12;
$themeColorBlue: #6D4AFE;

//text color

//background colors
$bgColor: #090A1A;
$bgColor2: #1E1F35;
$bgColor3: #151625;
$bgColor4: #F82552;
$bgColor5: #1A1B30;

//border colors
$borderColor: #3C3D4F;
$borderColor2: #2E2F3C;
$borderColor3: #2E2F3B;
$borderColor4: #303244;
$borderColor5: #313245;