/*--- Kyc Sereen ---*/
.gamfi_header_content_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    h2 {
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        margin-bottom: 0px;
        color: $white;
    }
}

.gamfi_header_progress_bar .progress-bar-striped {
    background-image: linear-gradient(72deg, rgba(0, 0, 0, .20) 50%, transparent 56%, transparent 84%, rgba(0, 0, 0, .20) 2%, rgba(0, 0, 0, .20) 90%, transparent 121%, transparent);
    background-size: 1rem 1rem;
    width: 33.33333%;
}
.gamfi_header_progress_bar .progress {
    background: rgba(255, 255, 255, 0.15);
    height: 12px;
    border-radius: 0px;
    width: 470px;
    margin-left: 19px;
    overflow: hidden;
}
.gamfi_header_progress_bar .progress-bar {
    background-color: $themeColor;
}

.kyc_form_sect {
    padding-top: 56px;
    background: $bgColor;
    padding-bottom: 140px;
    ;
}

.kyc_form {
    h3 {
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 45px;
        margin-bottom: 0px;
        text-transform: uppercase;
        color: $white;
    }
    p {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 45px;
        color: rgba($color: $white, $alpha: 0.7);
        margin-bottom: 18px;
    }
}

.kyc_country_dropbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    max-width: 570px;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    padding: 17px 20px;
    margin-bottom: 35px;
    position: relative;
    cursor: pointer;
    margin-top: 17px;
    &::after{
        content: "\e901";
        position: absolute;
        top: 24px;
        right: 20px;
        color: rgba($color: $white, $alpha: 0.7);
        font-family: "icomoon";
        font-size: 7px;
    }
    h4 {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 45px;
        margin-left: 14px;
        margin-bottom: 0px;
        color: rgba($color: $white, $alpha: 0.7);
    }
}

.Gamfi_Container {
    max-width: 1210px;
    padding: 0px 20px;
    width: 100%;
    margin: 0px auto;
}

.kyc_radio_sect{
    padding-bottom: 10px;
}

.kyc_radio_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba($color: $bgColor2, $alpha: 0.8);
    height: 60px;
    max-width: 570px;
    width: 100%;
    padding: 8px 20px;
    margin-bottom: 25px;
    .kyc_icon {
        opacity: 0.3;
    }
    &.active,
    &:hover{
        .kyc_icon{
            opacity: 1;
        }
    }
}

.kyc_radio_btn .container {
    display: block;
    position: relative;
    padding-left: 32px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 45px;
    text-transform: uppercase;
    color: rgba($color: $white, $alpha: 0.7);
}
.kyc_radio_btn.active .container,
.kyc_radio_btn:hover .container {
    color: $white;
}

.kyc_radio_btn .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.kyc_radio_btn .checkmark {
    position: absolute;
    top: 13px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid rgba($color: $white, $alpha: 0.2);
    box-sizing: border-box;
}
.kyc_radio_btn .container:hover input ~ .checkmark {
    opacity: 0.8;
}
.kyc_radio_btn .container input:checked ~ .checkmark {
    background-color: $themeColorBlue;
    ;
    border: none;
}
.kyc_radio_btn .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.kyc_radio_btn .container input:checked ~ .checkmark:after {
    display: block;
}
.kyc_radio_btn .container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.kyc_form .btn_custom {
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    text-transform: uppercase;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 570px;
    width: 100%;
    background: $themeColorBlue;
    height: 60px;
    border: none;
    outline: none;
}
.kyc_qrcode_sect {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.kyc_qrcode_content {
    max-width: 300px;
    width: 100%;
    h2 {
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 40px;
        text-transform: uppercase;
        color: $white;
        margin-bottom: 18px;
    }
}

.kyc_qrcode_img {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
}
.kyc_country_dropdown_sect {
    position: relative;
}
.kyc_country_drop_list {
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0px;
    z-index: 1;
    display: none;
}
.kyc_country_drop_list ul {
    background: rgba(30, 31, 53, 1);
    max-width: 570px;
    width: 100%;
    //box-shadow: 4px;
    li {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 45px;
        color: rgba($color: $white, $alpha: 0.7);
        height: 42px;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        &:hover {
            color: $white;
        }
    }
}

/*--- Kyc Upload Docs ---*/
.kyc_form .upload_docs_sect ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    width: 100%;
    max-width: 570px;
    li{
        text-align: center;
        width: 32%;
    }
    li h4 {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 45px;
        text-align: center;
        color: rgba($color: $white, $alpha: 0.7);
        max-width: 175px;
        margin: auto;
        margin-bottom: 0px;
        width: 100%;
        margin-left: 0px;
    }
    @include breakpoint(991px){
        flex-direction: column;
        li{
            width: 100%;
        }
    }
}

.kyc_form .upload_docs_sect {
    h3 {
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 45px;
        margin-bottom: 17px;
        text-transform: uppercase;
        color: $white;
    }
}

.kyc_form .upload_btn_bg{
    height: 175px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($color: $bgColor2, $alpha: 0.8);
}

.kyc_form .upload_docs_sect .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.kyc_form .upload_docs_sect .upload-btn-wrapper span {
    background: transparent;
    border: 2px dashed rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
}
.kyc_form .upload_docs_sect .upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload_doc_check_list {
    border: 2px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    width: 100%;
    max-width: 570px;
    padding: 16px 30px;
    margin-bottom: 35px;
}
.upload_doc_check_list ul {
    li {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 158%;
        color: rgba($color: $white, $alpha: 0.7);
        margin-bottom: 25px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    li span{
        filter: grayscale(100%);
        opacity: 0.7;
        margin-right: 14px;
        min-width: 14px;
    }
    li.active{
        color: $white;
    }
    li.active span{
        filter: grayscale(0%);
        opacity: 1;
    }
}

.nid_number_sect{
    margin-bottom: 40px;
    h3{
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 45px;
        margin-bottom: 17px;
        text-transform: uppercase;
        color: $white;
    }
}

.nid_number_sect form input {
    width: 100%;
    max-width: 570px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    height: 60px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 45px;
    color: rgba($color: $white, $alpha: 0.7);
    padding: 8px 21px;
    background: transparent;
    outline: none;
}

.kyc_persoanl_info_form form{
    width: 100%;
    max-width: 571px;
    margin-top: 20px;
}

.kyc_persoanl_info_form form .InputAddressSect{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.kyc_persoanl_info_form form .InputAddressSect .Address1Fild{
    width: 48%;
}
.kyc_persoanl_info_form form .InputAddressSect .Address2Fild{
    width: 48%;
}
.kyc_persoanl_info_form form .InputCitySect{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.kyc_persoanl_info_form form .InputCitySect .CityFild{
    width: 48%;
}
.kyc_persoanl_info_form form .InputCitySect .PostCodeFild{
    width: 48%;
}


.kyc_term_and_condtion_sect{
    position: relative;
    margin-bottom: 28px;
    margin-top: 7px;
    padding-left: 15px;
    lable {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 158%;
        color: rgba($color: $white, $alpha: 0.7);
        margin-left: 14px;
    }
    lable a {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 158%;
        color: $themeColorBlue;
    }
}

.kyc_term_and_condtion_sect .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    display: none;
}
.kyc_term_and_condtion_sect .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid rgba($color: $white, $alpha: 0.2);
    box-sizing: border-box;
}
.kyc_term_and_condtion_sect .container:hover input ~ .checkmark {
    opacity: 0.8;
}
.kyc_term_and_condtion_sect .container input:checked ~ .checkmark {
    background-color: $themeColorBlue;
    ;
    border: none;
}
.kyc_term_and_condtion_sect .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.kyc_term_and_condtion_sect .container input:checked ~ .checkmark:after {
    display: block;
}
.kyc_term_and_condtion_sect .container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.kyc_your_documents_sect{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
}
.kyc_your_documents_content{
    text-align: left;
    max-width: 300px;
    width: 100%;
    h3 {
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 158%;
        text-transform: uppercase;
        color: $white;
    }
}

.kyc_your_documents_content ul{
    background: rgba($color: $bgColor2, $alpha: 0.8);
    padding: 16px 30px;
    li{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    li p {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 45px;
        color: rgba($color: $white, $alpha: 0.7);
        margin-bottom: 0px;
    }
    li p span{
        margin-right: 14px;
    }
}