/*---- RoadMap ----*/
.roadmap_duration h6 {
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 55px;
    text-align: right;
    color: rgba($color: $white, $alpha: 0.7);
}
.gamfi_roadmap   {
    padding-bottom: 120px;
    background: $bgColor;
    position: relative;
}
.roadmap_sect{
    background: $bgColor;
    padding-top: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url("../images/kycimg/roadmapScreenbg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 1584px;
}
.roadmap_container{
    position: relative;
    z-index: 1
}
.roadMapDivider{
    position: absolute;
    top: 0px;
    z-index: 0;
    background: transparent;
}
.roadmap_sect .roadMapDivider img{
    height: 100%;
}
.roadmap_left_content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-right: 30px;
}
.roadmap_right_content{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 30px;
}
.roadmap_content_box{
    max-width: 470px;
    width: 100%;
    height: 100%;
    padding: 35px 39px 26px 39px;
}

.roadmap_content_box1{
    background: url("../images/kycimg/roadMapcpntentBg1.svg");
    min-height: 253px;
    margin-top: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.roadmap_content_box2{
    background: url("../images/kycimg/roadMapcpntentBg5.svg");
    min-height: 216px;
    margin-top: 190px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.roadmap_content_box3{
    background: url("../images/kycimg/roadMapcpntentBg2.svg");
    min-height: 216px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.roadmap_content_box4{
    background: url("../images/kycimg/roadMapcpntentBg6.svg");
    min-height: 253px;
    margin-top: 100px;
    background-repeat: no-repeat;
    background-position: center center;
}

.roadmap_content_box5{
    background: url("../images/kycimg/roadMapcpntentBg3.svg");
    min-height: 290px;
    margin-top: 123px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.roadmap_content_box6{
    background: url("../images/kycimg/roadMapcpntentBg7.svg");
    min-height: 290px;
    margin-top: 253px;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 47px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.roadmap_content_box7{
    background: url("../images/kycimg/roadMapcpntentBg4.svg");
    min-height: 216px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.roadmap_content_box {
    h3 {
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 158%;
        color: $themeColor;
        margin-bottom: 10px;
    }
    &.disable{
        h3{
            color: rgba($color: $white, $alpha: 0.7);
        }
    }
}

.roadmap_content_box ul {
    li {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 158%;
        margin-bottom: 10px;
        color: rgba($color: $white, $alpha: 0.7);
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        span{
            margin-right: 20px;
        }
        i{
            font-size: 16px;
        }
    }
} 

.roadmap_2021, 
.Roadmap2022{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.roadmap_2021_divider{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    min-height: 825px;
    top: 0px;
    width: 50px;
    background: url("../images/kycimg/Roadmap2021.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    span {
        transform: rotate(270deg);
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 36px;
        text-align: center;
        color: rgba($color: $white, $alpha: 0.2);
    }
}

.roadmap_2022_divider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    min-height: 752px;
    bottom: -65px;
    width: 50px;
    background: url("../images/kycimg/Roadmap2022.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    span {
        transform: rotate(270deg);
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 36px;
        text-align: center;
        color: rgba($color: $white, $alpha: 0.2);
    }
}